<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="infinite">
<!--/*@thymesVar id="regular" type="java.lang.Boolean"*/-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title th:if="${!regular}">成为合伙人</title>
    <title th:if="${regular}">升级合伙人</title>

    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/lib/weui.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/css/jquery-weui.min.css">

    <link rel="stylesheet" href="../wechat-resource/assets/css/custom.css"
          th:href="@{/wechat-resource/assets/css/custom.css}">
</head>
<body class="view-fs-small view-poster">
<section>
    <img th:if="${!regular}" src="../wechat-resource/assets/img/poster-1.jpg" alt="poster">
    <img th:if="${regular}" src="../wechat-resource/assets/img/poster-2.jpg" alt="poster">
</section>
<footer class="view_footer-fixed view_footer-noBg">
    <div class="weui-footer weui-footer_fixed-bottom">
        <div class="weui-btn-area">
            <a th:if="${!regular}" href="orderPlace.html" th:href="@{/wechatOrder}" class="weui-btn weui-btn_custom">成为合伙人</a>
            <a th:if="${regular}" href="update.html" th:href="@{/wechatUpgrade}"
               class="weui-btn weui-btn_custom">升级合伙人</a>
        </div>
    </div>
</footer>
</body>
</html>