<!--
该模板定性为展示更多成员的结果列表
数据是通过异步再调度的方式获取，应该特别指明是展示下级或者展示推荐，具体的方式就是由服务端渲染获取数据的URL
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="view-height-100">
<!--/*@thymesVar id="dataUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="showName" type="java.lang.String"*/-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <!--用户名-->
    <title th:text="${showName}">name</title>

    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/lib/weui.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/css/jquery-weui.min.css">

    <link rel="stylesheet" href="../wechat-resource/assets/css/custom.css"
          th:href="@{/wechat-resource/assets/css/custom.css}">
</head>
<body class="view-fs-small" data-memberList-url-template="memberList.html?userId=ID&rank=RANK"
      th:attr="data-memberList-url-template=@{/memberList(userId='ID',rank='RANK')}">
<div class="weui-cells__title">
    <a href="myTeam.html" th:href="@{/wechatMy}" class="text-custom">返回我的团队</a>
</div>

<div class="weui-cells view_team-list js-extra-h">
    <div class="view-team-list_items view_team-header">
        <div class="text-center">用户</div>
        <div class="text-center">级别</div>
        <div class="text-center">加入时间</div>
        <div class="text-center">手机号码</div>
    </div>
</div>
<!--data-url服务端渲染-->
<div id="J_memberList" class="view-scroll-wrap js-teamItems" data-url="/api/teamList?rank=3"
     th:attr="data-url=@{''+${dataUrl}}">
    <div class="view-scroll-list">
        <div class="weui-loadmore">
            <i class="weui-loading"></i>
            <span class="weui-loadmore__tips">数据加载中...</span>
        </div>
    </div>
</div>
</body>
<script src="//cdn.lmjia.cn/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.lmjia.cn/iscroll/5.2.0/iscroll-probe.min.js"></script>
<!--生产环境请移除 Begin-->
<script src="../mock/mock-min.js" th:remove="all"></script>
<script src="../mock/api.js" th:remove="all"></script>
<!--生产环境请移除 End-->
<script src="../wechat-resource/assets/js/myScroll.js" th:src="@{/wechat-resource/assets/js/myScroll.js}"></script>
<script src="../wechat-resource/assets/js/memberList.js" th:src="@{/wechat-resource/assets/js/memberList.js}"></script>
</html>