<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>我的下单 - 微信管理平台</title>

    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/lib/weui.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/css/jquery-weui.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/select2/4.0.3/css/select2.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/select2/4.0.3/css/select2-bootstrap.min.css">

    <link rel="stylesheet" href="../wechat-resource/assets/css/custom.css"
          th:href="@{/wechat-resource/assets/css/custom.css}">
</head>
<body class="view-bg-color view-fs-small"
      data-search-login-url="/market-manage/core-service/src/test/resources/mock/searchLogin.json"
      th:data-search-login-url="@{/loginData/select2}">
<section class="view_body">
    <form action="orderSuccess.html" method="post" th:action="@{/wechatOrder}" th:method="post" id="J_form">
        <div class="weui-cells__title">我要下单 <a href="orderList.html" class="weui-cell_link">订单列表</a></div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">姓名</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="请输入客户姓名" name="name">
                </div>
                <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">年龄</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" min="1" placeholder="请输入年龄" name="age">
                </div>
                <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">性别</label>
                </div>
                <div class="weui-cell__bd weui-cells_checkbox view-cells_inline">
                    <label class="weui-cell weui-check__label" for="isMan">
                        <div class="weui-cell__hd">
                            <input type="radio" class="weui-check" name="gender" id="isMan" checked="checked"
                                   value="1">
                            <i class="weui-icon-checked"></i>
                        </div>
                        <div class="weui-cell__bd">
                            <p>男</p>
                        </div>
                    </label>
                    <label class="weui-cell weui-check__label " for="isFemale">
                        <div class="weui-cell__hd">
                            <input type="radio" class="weui-check" name="gender" id="isFemale" value="2">
                            <i class="weui-icon-checked"></i>
                        </div>
                        <div class="weui-cell__bd">
                            <p>女</p>
                        </div>
                    </label>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">安装地址</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" id="J_cityPicker" value="浙江省 杭州市 滨江区" name="address">
                </div>
                <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label"></label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="请输入详细地址" name="fullAddress">
                </div>
                <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">用户电话</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="tel" placeholder="请输入电话" name="mobile">
                </div>
                <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
            </div>
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label class="weui-label">产品类型</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="goodId" id="J_goodsType">
                        <!--/*@thymesVar id="goodList" type="java.util.List<cn.lmjia.market.core.entity.MainGood>"*/-->
                        <option value="1" data-deposit="3000" data-need-install="180" data-model="hzcx01"
                                data-type="净水机" data-day-cost="3" th:each="good:${goodList}" th:value="${good.id}"
                                th:data-deposit="${good.product.deposit}"
                                th:data-need-install="${good.product.install}" th:data-model="${good.product.code}"
                                th:data-type="${good.id}" th:text="${good.product.name}">橱下净水机
                        </option>
                        <option th:remove="all" value="2" data-deposit="3000" data-need-install="180"
                                data-model="hzts02"
                                data-type="净水机"
                                data-day-cost="4">台式净水机
                        </option>
                        <option th:remove="all" value="3" data-deposit="3000" data-need-install="180"
                                data-model="hzls01"
                                data-type="净水机"
                                data-day-cost="5">立式净水机
                        </option>
                        <option th:remove="all" value="5" data-deposit="5000" data-model="ESL-HM01" data-type="空气净化器"
                                data-day-cost="5">
                            空气净化器
                        </option>
                        <option th:remove="all" value="6" data-deposit="10000" data-model="SP70" data-type="食品优化宝"
                                data-day-cost="10">
                            食品优化宝
                        </option>
                    </select>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">租用机型</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="请输入租用机型" name="leasedType"
                           id="J_leasedType" value="hzls01" readonly>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">数量</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" placeholder="请输入数量" min="1" name="amount"
                           id="J_goodsAmount">
                </div>
                <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">现金支付</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" name="package" value="服务费 3元 / 天" disabled id="J_package">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">按揭码</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" name="activityCode" placeholder="请输入按揭码">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">推荐人手机</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="tel" name="recommend" placeholder="请输入推荐人手机号码" id="J_recommend">
                </div>
                <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">推荐人</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input view-placeholder" type="text" placeholder="暂无推荐人" name="inviter"
                           id="J_inviter" readonly>
                </div>
                <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">用户保证金</label>
                </div>
                <div class="weui-cell__bd">
                    <p class="weui-input" id="J_userDeposit">
                        <span>3000</span>
                        <span class="unit-txt">元 / 台</span>
                    </p>
                </div>
            </div>
            <div class="weui-cell js-install">
                <div class="weui-cell__hd">
                    <label class="weui-label">初装费用</label>
                </div>
                <div class="weui-cell__bd">
                    <p class="weui-input" id="J_installationCost">
                        <span>180</span>
                        <span class="unit-txt">元 / 台</span>
                    </p>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">订单总金额</label>
                </div>
                <div class="weui-cell__bd">
                    <input type="hidden" name="orderTotal" value="0">
                    <p class="weui-input text-big" id="J_orderTotal">
                        <strong>0</strong>
                        <span class="unit-txt">元</span>
                    </p>
                </div>
            </div>
        </div>
        <label for="weuiAgree" class="weui-agree view-agress_inline">
            <input id="weuiAgree" type="checkbox" class="weui-agree__checkbox" checked name="isAgree">
            <span class="weui-agree__text">
                同意<a href="javascript:;">《用户协议》</a>
            </span>
        </label>
        <a href="javascript:;" class="text-link open-popup" data-target="#J_upgradeRules">查看</a>
        <div class="weui-btn-area">
            <button type="submit" class="weui-btn weui-btn_custom">下&nbsp;&nbsp;单</button>
        </div>
        <!--<div class="weui-btn-area" th:remove="all">-->
        <!--<a href="orderSuccess.html" class="weui-btn weui-btn_primary">（测试）下单成功</a>-->
        <!--</div>-->
        <!--<div class="weui-btn-area" th:remove="all">-->
        <!--<a href="orderFail.html" class="weui-btn weui-btn_warn">（测试）下单失败</a>-->
        <!--</div>-->
    </form>
</section>
<div id="J_upgradeRules" class="weui-popup__container">
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal">
        <article class="weui-article">
            <h1 class="text-center">利每家用户协议</h1>
            <section>
                <h2 class="title">甲方：</h2>
                <h2 class="title">乙方：利每家科技有限公司</h2>
                <section>
                    <p>甲乙双方在平等自愿、公平诚信的基础上，基于对乙方提供的产品和服务的了解和需求，达成协议如下：</p>
                </section>
                <section>
                    <p><strong>第一条</strong>&nbsp;&nbsp;&nbsp;&nbsp;甲方自愿参加乙方的□净水机、□空气净化器、□食品优化宝租机优惠活动，缴纳&#95;&#95;&#95;&#95;&#95;&#95;元保证金，并承诺协议期为<u>
                        &nbsp;&nbsp;36&nbsp;&nbsp;&nbsp;</u>个月，即&#95;&#95;&#95;年&#95;&#95;&#95;月&#95;&#95;&#95;日至&#95;&#95;&#95;年&#95;&#95;&#95;月&#95;&#95;&#95;日，甲方承诺在使用期间不退保证金、不退机、不过户（可移机），机具使用费另收，详细费用按下表执行：
                    </p>
                    <table class="view_table" border="1">
                        <thead>
                        <tr>
                            <th>产品名称</th>
                            <th>型号</th>
                            <th>一次性支付三年保证金/台</th>
                            <th>每天费用</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>橱下净水机</td>
                            <td>hzcx01</td>
                            <td>3000元</td>
                            <td>3元</td>
                        </tr>
                        <tr>
                            <td>台式净水机</td>
                            <td>hzts02</td>
                            <td>3000元</td>
                            <td>4元</td>
                        </tr>
                        <tr>
                            <td>立式净水机</td>
                            <td>hzls01</td>
                            <td>3000元</td>
                            <td>5元</td>
                        </tr>
                        <tr>
                            <td>空气净化器</td>
                            <td>ESL-HM01</td>
                            <td>5000元</td>
                            <td>5元</td>
                        </tr>
                        <tr>
                            <td>食品优化宝</td>
                            <td>SP70</td>
                            <td>10000元</td>
                            <td>10元</td>
                        </tr>
                        </tbody>
                    </table>
                    <em>注：净水机用户需另付安装费180元/台。</em>
                </section>
                <section>
                    <p><strong>第二条</strong>&nbsp;&nbsp;&nbsp;&nbsp;使用条件</p>
                    <p>（一）为保障甲乙双方的权益，协议期内乙方对甲方使用的用户机型与终端IMEI码进行机码匹配核实。</p>
                    <p>
                        （二）在协议期内，甲方不得提前终止协议。若使用中甲方单方面违约，乙方有权从甲方支付的保证金帐户中扣除使用费及逾期利息，逾期利率按万分之五/天计算，且保证金不够扣使用费及违约金时，机具归甲方所有，合同终止。</p>
                    <p>（三）乙方根据甲方的使用情况，在协议期内，为甲方免费提供更换的滤芯。在水质或其他环境因素，无法达到安装或使用条件时，乙方有权与甲方解约，对此，甲方同意乙方的解约要求。</p>
                    <p>（四）若使用期间，机器发生非人为损坏或不能使用，乙方将免费为甲方更换新机或维修，若使用期间，机器发生人为损坏，则由甲方承担维修或更换新机的费用。</p>
                    <p>（五）协议期内，机器的所有权归乙方所有，协议期满后，机器归甲方所有，机器的后续 服务乙方概不负责。</p>
                </section>
                <section>
                    <p><strong>第三条</strong>&nbsp;&nbsp;&nbsp;&nbsp;违约责任及承担</p>
                    <p>（一）甲方违约责任</p>
                    <p>
                        1、甲乙双方一致确认，甲方出现本协议所述的违约情形时，甲方应向乙方支付违约金以补偿乙方的损失，乙方有权以甲方账户中尚未解冻的预存款直接抵扣违约金及约定的相关费用，不足部分，乙方保留对甲方追缴的权利。</p>
                    <p>
                        2、甲方下单后，乙方未发货，全额退还保证金；机具已发货，但未安装，退还75%的保证金给甲方；机具已安装，不退还保证金，作为违约金赔偿给乙方，机具归甲方所有。
                    </p>
                    <p>（二）乙方违约责任</p>
                    <p>1、乙方构成违约的，应按国家有关规定，承担违约责任。</p>
                    <p>
                        2、乙方向甲方直接提供的机器出现质量问题时，甲方应送相关厂商指定的售后网点进行处理，或持厂商指定售后网点出具的检测证明材料到乙方区域网点，乙方按《产品质量法》、《消费者权益保护法》等国家法律法规的规定，承担相应责任并进行处理。</p>
                </section>
                <section>
                    <p><strong>第四条</strong>&nbsp;&nbsp;&nbsp;&nbsp;协议生效</p>
                    <p>本协议自双方签字盖章之日起生效，本协议到期时，如甲乙双方均未提出新的服务时，本协议自动终止。</p>
                    <p><strong>（甲方承诺：本人已经充分、完整阅读并理解本协议所述全部条款及条件。）</strong></p>
                </section>
                <section>
                    <div class="weui-flex">
                        <div class="weui-flex__item">甲方：（签字或盖章）</div>
                        <div class="weui-flex__item">乙方：（盖章）</div>
                    </div>
                </section>
                <section>
                    <div class="weui-flex">
                        <div class="weui-flex__item">
                            <p>签署日期：</p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp; 年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日</p>
                        </div>
                        <div class="weui-flex__item">
                            <p>签署日期：</p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp; 年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日</p>
                        </div>
                    </div>
                </section>
            </section>
            <button type="button" class="weui-btn weui-btn_custom close-popup">确定</button>
        </article>
    </div>
</div>
</body>
<script src="//cdn.lmjia.cn/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.lmjia.cn/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
<script src="//cdn.lmjia.cn/jquery-weui/1.0.1/js/city-picker.min.js"></script>
<script src="//cdn.lmjia.cn/jquery-validation/1.16.0/jquery.validate.min.js"></script>
<script src="//cdn.lmjia.cn/select2/4.0.3/js/select2.full.min.js"></script>
<script src="//cdn.lmjia.cn/select2/4.0.3/js/i18n/zh-CN.js"></script>
<!--生产环境请移除 Begin-->
<script src="../mock/mock-min.js" th:remove="all"></script>
<script src="../mock/api.js" th:remove="all"></script>
<!--生产环境请移除 End-->
<script src="../../../../../../market-manage/web/src/main/webapp/assets/js/common/recommend.js"
        th:src="@{/assets/js/common/recommend.js}"></script>
<script src="../wechat-resource/assets/js/orderPlace-A.js"
        th:src="@{/wechat-resource/assets/js/orderPlace-A.js}"></script>
</html>