<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="order" type="cn.lmjia.market.core.entity.MainOrder"*/-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>订单详情</title>

    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/lib/weui.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/css/jquery-weui.min.css">

    <link rel="stylesheet" href="../wechat-resource/assets/css/custom.css"
          th:href="@{/wechat-resource/assets/css/custom.css}">
</head>
<body class="view-bg-color view-fs-small">
<section class="view_body">
    <div class="view-form-list">
        <div class="weui-cells__title">用户信息</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">用户</label>
                </div>
                <div class="weui-cell__bd">
                    <p th:text="${order.customer.name}">李菲菲</p>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">年龄</label>
                </div>
                <div class="weui-cell__bd">
                    <p th:text="${@readService.ageForCustomer(order.customer)}">24</p>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">性别</label>
                </div>
                <div class="weui-cell__bd">
                    <p th:text="${{order.customer.gender}}">女</p>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">手机号码</label>
                </div>
                <div class="weui-cell__bd">
                    <p th:text="${order.customer.mobile}">15789944587</p>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">下单时间</label>
                </div>
                <div class="weui-cell__bd">
                    <p th:text="${{order.orderTime}}">2017-09-09</p>
                </div>
            </div>
            <!--<div class="weui-cell">-->
            <!--<div class="weui-cell__hd">-->
            <!--<label class="weui-label">购买套餐</label>-->
            <!--</div>-->
            <!--<div class="weui-cell__bd">-->
            <!--<p>3年收费</p>-->
            <!--</div>-->
            <!--</div>-->
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">收货地址</label>
                </div>
                <div class="weui-cell__bd">
                    <p th:text="${order.installAddress}">浙江杭州西湖大西湖国际</p>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">购买数量</label>
                </div>
                <div class="weui-cell__bd">
                    <p th:text="${order.amount}">1</p>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">订单总金额</label>
                </div>
                <div class="weui-cell__bd">
                    <p th:text="${{order.orderDueAmountMoney}}">5000.00</p>
                </div>
            </div>
        </div>
    </div>
    <div class="view-form-list" th:remove="all">
        <div class="weui-cells__title">商品信息</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">商品型号</label>
                </div>
                <div class="weui-cell__bd">
                    <p>滤芯 u56  立式</p>
                </div>
                <div class="weui-cell__ft">
                    <span class="view_badge view_badge-custom">使用中</span>
                    <!--<span class="view_badge view_badge-error">退货中</span>-->
                    <!--<span class="view_badge view_badge-warn">维修中</span>-->
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">商品编码</label>
                </div>
                <div class="weui-cell__bd">
                    <p>42857487523234</p>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">入口时间</label>
                </div>
                <div class="weui-cell__bd">
                    <p>2017-04-09</p>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">出库时间</label>
                </div>
                <div class="weui-cell__bd">
                    <p>2017-06-09</p>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">维修记录</label>
                </div>
                <div class="weui-cell__bd">
                    <p>2017-09-09  更改滤芯</p>
                    <p>2016-09-09  更换水口</p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>