<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="infinite">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>订单列表</title>

    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/lib/weui.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/css/jquery-weui.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/swiper/3.4.2/css/swiper.min.css">

    <link rel="stylesheet" href="../wechat-resource/assets/css/custom.css"
          th:href="@{/wechat-resource/assets/css/custom.css}">
</head>
<body class="view-bg-color view-fs-small"
      data-detail-url="orderDetail.html"
      data-pay-url="pay.html"
      data-invoice-url="invoice.html"
      th:data-detail-url="@{/wechatOrderDetail}"
      th:data-pay-url="@{/wechatOrderPay}">
<section class="view_body view_pb-more">
    <div class="weui-cells__title">订单列表</div>
    <div class="weui-search-bar js-extra-h-c">
        <div class="weui-search-bar__form">
            <div class="weui-search-bar__box">
                <i class="weui-icon-search"></i>
                <input type="search" class="weui-search-bar__input" placeholder="搜索" name="search" id="J_searchInput">
                <a href="javascript:" class="weui-icon-clear"></a>
            </div>
            <label class="weui-search-bar__label">
                <i class="weui-icon-search"></i>
                <span>搜索</span>
            </label>
        </div>
        <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
    </div>
    <div class="view-tabs js-extra-h-c">
        <a href="#" class="view-tabs_item active">全部</a>
        <a href="#" class="view-tabs_item">待发货</a>
        <a href="#" class="view-tabs_item">待收货</a>
        <!--<a href="#" class="view-tabs_item">待安装</a>-->
        <!--<a href="#" class="view-tabs_item">退款</a>-->
    </div>
    <div id="tabs-container" class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide view-scroll-wrap view-order-lists js-commItems" data-url="/api/orderList">
                <div class="view-scroll-list">
                    <div class="weui-loadmore">
                        <i class="weui-loading"></i>
                        <span class="weui-loadmore__tips">数据加载中...</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide view-scroll-wrap js-commItems" data-url="/api/orderList?status=2">
                <div class="view-scroll-list">
                    <div class="weui-loadmore">
                        <i class="weui-loading"></i>
                        <span class="weui-loadmore__tips">数据加载中...</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide view-scroll-wrap js-commItems" data-url="/api/orderList?status=3">
                <div class="view-scroll-list">
                    <div class="weui-loadmore">
                        <i class="weui-loading"></i>
                        <span class="weui-loadmore__tips">数据加载中...</span>
                    </div>
                </div>
            </div>
            <!--<div class="swiper-slide view-scroll-wrap js-commItems" data-url="/api/orderList?status=4">-->
                <!--<div class="view-scroll-list">-->
                    <!--<div class="weui-loadmore">-->
                        <!--<i class="weui-loading"></i>-->
                        <!--<span class="weui-loadmore__tips">数据加载中...</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="swiper-slide view-scroll-wrap js-commItems" data-url="/api/orderList?status=6">-->
                <!--<div class="view-scroll-list">-->
                    <!--<div class="weui-loadmore">-->
                        <!--<i class="weui-loading"></i>-->
                        <!--<span class="weui-loadmore__tips">数据加载中...</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</section>
<footer class="view_footer-fixed">
    <div class="weui-footer weui-footer_fixed-bottom">
        <div class="weui-btn-area">
            <a href="orderPlace.html" th:href="@{/wechatOrder}" class="weui-btn weui-btn_custom">我要下单</a>
        </div>
    </div>
</footer>
</body>
<script src="//cdn.lmjia.cn/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.lmjia.cn/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
<script src="//cdn.lmjia.cn/swiper/3.4.2/js/swiper.jquery.min.js"></script>
<script src="//cdn.lmjia.cn/iscroll/5.2.0/iscroll-probe.min.js"></script>
<!--生产环境请移除 Begin-->
<script src="../mock/mock-min.js" th:remove="all"></script>
<script src="../mock/api.js" th:remove="all"></script>
<!--生产环境请移除 End-->
<script src="../wechat-resource/assets/js/myScroll.js" th:src="@{/wechat-resource/assets/js/myScroll.js}"></script>
<script src="../wechat-resource/assets/js/orderList.js"
        th:src="@{/wechat-resource/assets/js/orderList.js(v=1)}"></script>
<th:block th:include="wechat@fragments/share.html::hideAllShare"/>
</html>