<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="view-height-100">
<!--/*@thymesVar id="login" type="cn.lmjia.market.core.entity.Login"*/-->
<!--/*@thymesVar id="agentLevel" type="java.lang.String"*/-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>我的</title>

    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/lib/weui.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/css/jquery-weui.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/swiper/3.4.2/css/swiper.min.css">

    <link rel="stylesheet" href="../wechat-resource/assets/css/custom.css"
          th:href="@{/wechat-resource/assets/css/custom.css}">
</head>
<body class="view-bg-color view-fs-small view-height-100"
      data-memberList-url-template="memberList.html?userId=ID&rank=RANK"
      th:attr="data-memberList-url-template=@{/memberList(userId='ID',rank='RANK')}">
<div class="weui-tab">
    <div class="weui-navbar">
        <a class="view-navbar_item on" href="#myTeam">我的团队</a>
        <a class="view-navbar_item" href="#commission">我的佣金</a>
    </div>
    <div class="view-tab_bd swiper-container" id="navbar-container">
        <div class="swiper-wrapper view-tab_wrap">
            <div id="myTeam" class="swiper-slide view-scroll-wrap">
                <div class="weui-cells js-extra-h view-mt-0">
                    <!--<a href="userInfo.html" class="weui-cell weui-cell_access">-->
                    <a href="javascript:;" class="weui-cell weui-cell_access">
                        <div class="weui-cell__hd view-avatar_normal">
                            <img src="../wechat-resource/assets/img/avatar.jpg"
                                 th:src="${@readService.avatarFor(#authentication.principal)}">
                        </div>
                        <div class="weui-cell__bd">
                            <p class="view-info_normal">
                                <span class="ellipsis"
                                      th:text="${@readService.nameForPrincipal(#authentication.principal)}">利每家科技有限公司</span>
                                <span class="label" th:text="${agentLevel}">滨江区总代</span>
                            </p>
                            <p style="font-size: 13px;color: #888888;">ID:<span
                                    th:text="${login.id+100000000}">12446968</span></p>
                        </div>
                        <div class="weui-cell__ft"></div>
                    </a>
                </div>
                <div class="view-tabs js-teams js-extra-h">
                    <a href="#" class="view-tabs_item js-team active">所属</a>
                    <a href="#" class="view-tabs_item js-team">推荐</a>
                </div>
                <!--<ul class="view-total">-->
                    <!--<li class="on" style="visibility: hidden;">您共管理了<span>99999</span>个人</li>-->
                    <!--<li>您共管理了<span>1999</span>个人</li>-->
                <!--</ul>-->
                <div class="view_team-list js-extra-h">
                    <div class="view-team-list_items view_team-header">
                        <div class="text-center">用户</div>
                        <div class="text-center">级别</div>
                        <div class="text-center">加入时间</div>
                        <div class="text-center">手机号码</div>
                    </div>
                </div>
                <div id="tabs-teams" class="swiper-container">
                    <div class="swiper-wrapper">
                        <!--所属-->
                        <div id="J_subordinate" class="swiper-slide view-scroll-wrap js-teamItems"
                             data-url="/api/subordinate">
                            <div class="view-scroll-list">
                                <div class="weui-loadmore">
                                    <i class="weui-loading"></i>
                                    <span class="weui-loadmore__tips">数据加载中...</span>
                                </div>
                            </div>
                        </div>
                        <!--推荐-->
                        <div id="J_directly" class="swiper-slide view-scroll-wrap js-teamItems"
                             data-url="/api/directly">
                            <div class="view-scroll-list">
                                <div class="weui-loadmore">
                                    <i class="weui-loading"></i>
                                    <span class="weui-loadmore__tips">数据加载中...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="commission" class="swiper-slide">
                <div class="view_panel-commission js-extra-h-c">
                    <div class="view_panel-header">
                        <div class="weui-flex">
                            <div class="weui-flex__item view_flex-3">
                                <div class="weui-cells__title view-mt-0">可提现佣金</div>
                                <h1 class="view_page-title" id="WithdrawAbleAmount"
                                    th:text="${{@readService.currentBalance(#authentication.principal)}}">￥886896</h1>
                            </div>
                            <div class="weui-flex__item view-btn-group-md">
                                <a th:if="${@environment.acceptsProfiles('unit_test')||(@systemService.allowWithdrawDisplay(#authentication.principal))}" href="withdraw.html" class="weui-btn weui-btn_custom" th:href="@{/wechatWithdraw}">我要提现</a>
                                <a href="withdrawRecord.html" th:href="@{/wechatWithdrawRecord}"
                                   class="weui-btn weui-btn_default_custom">提现记录</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="view-tabs js-comms js-extra-h-c">
                    <a href="#" class="view-tabs_item js-comm active">已获</a>
                    <a href="#" class="view-tabs_item js-comm">即将获佣</a>
                    <a href="#" class="view-tabs_item js-comm">今日获佣</a>
                    <a href="#" class="view-tabs_item js-comm">本月获佣</a>
                    <a href="#" class="view-tabs_item js-comm">近三个月</a>
                </div>
                <div class="view_team-list view_team-list-left js-extra-h-c">
                    <div class="weui-flex view_team-header">
                        <div class="weui-flex__item">类型</div>
                        <div class="weui-flex__item">订单详情</div>
                        <div class="weui-flex__item">佣金详情</div>
                    </div>
                </div>
                <div id="tabs-container" class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide view-scroll-wrap js-commItems" data-url="/api/commList/all">
                            <div class="view-scroll-list">
                                <div class="weui-loadmore">
                                    <i class="weui-loading"></i>
                                    <span class="weui-loadmore__tips">数据加载中...</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide view-scroll-wrap js-commItems" data-url="/api/commList/pending">
                            <div class="view-scroll-list">
                                <div class="weui-loadmore">
                                    <i class="weui-loading"></i>
                                    <span class="weui-loadmore__tips">数据加载中...</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide view-scroll-wrap js-commItems" data-url="/api/commList/today">
                            <div class="view-scroll-list">
                                <div class="weui-loadmore">
                                    <i class="weui-loading"></i>
                                    <span class="weui-loadmore__tips">数据加载中...</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide view-scroll-wrap js-commItems" data-url="/api/commList/month">
                            <div class="view-scroll-list">
                                <div class="weui-loadmore">
                                    <i class="weui-loading"></i>
                                    <span class="weui-loadmore__tips">数据加载中...</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide view-scroll-wrap js-commItems" data-url="/api/commList/quarter">
                            <div class="view-scroll-list">
                                <div class="weui-loadmore">
                                    <i class="weui-loading"></i>
                                    <span class="weui-loadmore__tips">数据加载中...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="J_upgradeRules" class="weui-popup__container">
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal">
        <article class="weui-article">
            <h1 class="text-center">用户晋升制度</h1>
            <section>
                <section>
                    <p>一、总代理：代理商帮助5个经销商成为代理商或直接推荐，升级为空白地区总代理。</p>
                </section>
                <section>
                    <p>二、代理商：经销商帮助5个爱心天使成为经销商或直接推荐，升级为代理商。</p>
                </section>
                <section>
                    <p>三、 经销商：爱心天使帮助5个爱心天使免费，升级为经销商。</p>
                </section>
                <section>
                    <p>四、 爱心天使：用户成功购买一件商品后默认为爱心天使。</p>
                </section>
                <section>
                    <p>五、 备 注：平级推荐满5个晋升一级。</p>
                </section>
                <section>
                    <p class="text-right">利每家科技有限公司</p>
                </section>
            </section>
            <button type="button" class="weui-btn weui-btn_custom close-popup">确定</button>
        </article>
    </div>
</div>
</body>
<script src="//cdn.lmjia.cn/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.lmjia.cn/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
<script src="//cdn.lmjia.cn/swiper/3.4.2/js/swiper.jquery.min.js"></script>
<script src="//cdn.lmjia.cn/iscroll/5.2.0/iscroll-probe.min.js"></script>
<!--生产环境请移除 Begin-->
<script src="../mock/mock-min.js" th:remove="all"></script>
<script src="../mock/api.js" th:remove="all"></script>
<!--生产环境请移除 End-->
<script src="../wechat-resource/assets/js/myScroll.js" th:src="@{/wechat-resource/assets/js/myScroll.js}"></script>
<script src="../wechat-resource/assets/js/personCenter.js?v=1"
        th:src="@{/wechat-resource/assets/js/personCenter.js(v=1)}"></script>
<th:block th:include="wechat@fragments/share.html::hideAllShare"/>
</html>