<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="u1Enable" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="u2Enable" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="u3Enable" type="java.lang.Boolean"*/-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>我要升级</title>

    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/lib/weui.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/css/jquery-weui.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/webuploader/0.1.5/webuploader.css">

    <link rel="stylesheet" href="../wechat-resource/assets/css/custom.css"
          th:href="@{/wechat-resource/assets/css/custom.css}">
</head>
<body class="view-fs-small view-bg-color"
      data-upload-url="/resourceUpload/webUploader"
      th:data-upload-url="@{/resourceUpload/webUploader}">
<section class="view_body">
    <form action="updateSuccess.html" th:action="@{/wechatUpgrade}" method="post" id="J_updateForm">
        <div class="weui-cells__title">升级资料</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">姓名</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" value="利每家"
                           th:value="${@readService.nameForPrincipal(#authentication.principal)}" readonly>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">手机号</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" value="18888888888"
                           th:value="${@readService.mobileFor(#authentication.principal)}" readonly>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label" for="agentName">公司名称</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" name="agentName" id="agentName">
                </div>
                <div class="weui-cell__ft" id="J_subText">
                    <span class="extra-badge">或代理商姓名</span>
                    <i class="weui-icon-warn"></i>
                </div>
            </div>
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label class="weui-label">升级到</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="newLevel" id="J_updateLevel">
                        <option th:if="${u1Enable && @readService.isAllowAgentLevel(4)}" value="1"
                                th:text="${@readService.getLoginTitle(4)}">经销商
                        </option>
                        <option th:if="${u2Enable && @readService.isAllowAgentLevel(3)}" value="2"
                                th:text="${@readService.getLoginTitle(3)}">运营商
                        </option>
                        <option th:if="${u3Enable && @readService.isAllowAgentLevel(2)}" value="3"
                                th:text="${@readService.getLoginTitle(2)}">合伙人
                        </option>
                    </select>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label"><span id="J_updateName">***</span>地址</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" id="J_cityPicker" value="浙江省 杭州市 滨江区" th:value="''"
                           name="address">
                </div>
                <div class="weui-cell__ft">
                    <span class="extra-badge">必填</span>
                    <i class="weui-icon-warn"></i>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label"></label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="请输入详细地址" name="fullAddress">
                </div>
                <div class="weui-cell__ft">
                    <span class="extra-badge">必填</span>
                    <i class="weui-icon-warn"></i>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">身份证正面</label>
                </div>
                <div class="weui-cell__bd">
                    <div class="weui-uploader">
                        <div class="weui-uploader__bd">
                            <ul class="weui-uploader__files"></ul>
                            <div class="weui-uploader__input-box" id="J_uploadFront"></div>
                            <input type="hidden" name="cardFrontPath">
                        </div>
                    </div>
                </div>
                <div class="weui-cell__ft">
                    <span class="extra-badge">必填</span>
                    <i class="weui-icon-warn"></i>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">身份证反面</label>
                </div>
                <div class="weui-cell__bd">
                    <div class="weui-uploader">
                        <div class="weui-uploader__bd">
                            <ul class="weui-uploader__files"></ul>
                            <div class="weui-uploader__input-box" id="J_uploadBack"></div>
                            <input type="hidden" name="cardBackPath">
                        </div>
                    </div>
                </div>
                <div class="weui-cell__ft">
                    <span class="extra-badge">必填</span>
                    <i class="weui-icon-warn"></i>
                </div>
            </div>
            <div class="weui-cell" id="J_license">
                <div class="weui-cell__hd">
                    <label class="weui-label">营业执照</label>
                </div>
                <div class="weui-cell__bd">
                    <div class="weui-uploader">
                        <div class="weui-uploader__bd">
                            <ul class="weui-uploader__files"></ul>
                            <div class="weui-uploader__input-box" id="J_uploadLicense"></div>
                            <input type="hidden" name="businessLicensePath">
                        </div>
                    </div>
                </div>
                <div class="weui-cell__ft">
                    <span class="extra-badge displayNone">必填</span>
                    <i class="weui-icon-warn"></i>
                </div>
            </div>
        </div>
        <!--爱心天使会有改选项 begin-->
        <div class="weui-cells weui-cells_form" id="J_updateCost">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">升级方式</label>
                </div>
                <div class="weui-cell__bd weui-cells_checkbox view-cells_inline">
                    <label class="weui-cell weui-check__label" for="isPayment">
                        <div class="weui-cell__hd">
                            <input type="radio" class="weui-check" name="upgradeMode" id="isPayment" checked
                                   value="1">
                            <i class="weui-icon-checked"></i>
                        </div>
                        <div class="weui-cell__bd">
                            <p>付费</p>
                        </div>
                    </label>
                    <label class="weui-cell weui-check__label " for="isApplication">
                        <div class="weui-cell__hd">
                            <input type="radio" class="weui-check" name="upgradeMode" id="isApplication" value="2">
                            <i class="weui-icon-checked"></i>
                        </div>
                        <div class="weui-cell__bd">
                            <p>申请</p>
                        </div>
                    </label>
                </div>
            </div>
            <div class="weui-cell" id="J_paymentBox">
                <div class="weui-cell__hd">
                    <label class="weui-label">直升费用</label>
                </div>
                <div class="weui-cell__bd">
                    <p class="text-big text-right">
                        <!--/*@thymesVar id="price" type="cn.lmjia.market.core.define.Money"*/-->
                        <span th:text="${price}">￥30000.00</span></p>
                </div>
            </div>
        </div>
        <div class="weui-btn-area">
            <button type="submit" class="weui-btn weui-btn_custom" id="J_submit">支&nbsp;&nbsp;付</button>
            <!--<button type="submit" class="weui-btn weui-btn_custom" id="J_submit">申&nbsp;&nbsp;请</button>-->
        </div>
        <label for="weuiAgree" class="weui-agree view-agress_inline">
            <input id="weuiAgree" type="checkbox" class="weui-agree__checkbox" checked name="isAgree">
            <span class="weui-agree__text">同意</span>
        </label>
        <a href="javascript:;" class="text-link open-popup" data-target="#J_popup">《电子协议》</a>
    </form>
</section>
<div id="J_popup" class="weui-popup__container update-agreement">
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal">
        <div class="weui-tab">
            <div class="weui-navbar">
                <a class="weui-navbar__item weui-bar__item--on" href="#tab1" th:text="${@readService.getLoginTitle(4)}">
                    经销商
                </a>
                <!--<a class="weui-navbar__item" href="#tab2" th:text="${@readService.getLoginTitle(3)}">-->
                    <!--区县代理-->
                <!--</a>-->
                <a class="weui-navbar__item" href="#tab3" th:text="${@readService.getLoginTitle(2)}">
                    合伙人
                </a>
            </div>
            <div class="weui-tab__bd">
                <div id="tab1" class="weui-tab__bd-item">
                    <img src="../wechat-resource/assets/img/agreement/dealer/0001.jpg">
                    <img src="../wechat-resource/assets/img/agreement/dealer/0002.jpg">
                    <img src="../wechat-resource/assets/img/agreement/dealer/0003.jpg">
                    <img src="../wechat-resource/assets/img/agreement/dealer/0004.jpg">
                    <img src="../wechat-resource/assets/img/agreement/dealer/0005.jpg">
                    <img src="../wechat-resource/assets/img/agreement/dealer/0006.jpg">
                </div>
                <!--<div id="tab2" class="weui-tab__bd-item">-->
                    <!--<img src="../wechat-resource/assets/img/agreement/district/0001.jpg">-->
                    <!--<img src="../wechat-resource/assets/img/agreement/district/0002.jpg">-->
                    <!--<img src="../wechat-resource/assets/img/agreement/district/0003.jpg">-->
                    <!--<img src="../wechat-resource/assets/img/agreement/district/0004.jpg">-->
                    <!--<img src="../wechat-resource/assets/img/agreement/district/0005.jpg">-->
                    <!--<img src="../wechat-resource/assets/img/agreement/district/0006.jpg">-->
                <!--</div>-->
                <div id="tab3" class="weui-tab__bd-item weui-tab__bd-item--active">
                    <img src="../wechat-resource/assets/img/agreement/city/0001.jpg">
                    <img src="../wechat-resource/assets/img/agreement/city/0002.jpg">
                    <img src="../wechat-resource/assets/img/agreement/city/0003.jpg">
                    <img src="../wechat-resource/assets/img/agreement/city/0004.jpg">
                    <img src="../wechat-resource/assets/img/agreement/city/0005.jpg">
                    <img src="../wechat-resource/assets/img/agreement/city/0006.jpg">
                </div>
            </div>
        </div>
        <div class="weui-tabbar">
            <button type="button" class="weui-btn weui-btn_custom close-popup">确定</button>
        </div>
    </div>
</div>
</body>
<script src="//cdn.lmjia.cn/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.lmjia.cn/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
<script src="//cdn.lmjia.cn/jquery-weui/1.0.1/js/city-picker.min.m.js"></script>
<script src="//cdn.lmjia.cn/webuploader/0.1.5/webuploader.min.js"></script>
<script src="//cdn.lmjia.cn/jquery-validation/1.16.0/jquery.validate.min.js"></script>
<script src="../mock/mock-min.js" th:remove="all"></script>
<script src="../mock/api.js" th:remove="all"></script>
<script src="../wechat-resource/assets/js/update.js"></script>
<th:block th:include="wechat@fragments/share.html::hideAllShare"/>
</html>