<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>验证手机号码</title>

    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/lib/weui.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/css/jquery-weui.min.css">

    <link rel="stylesheet" href="../wechat-resource/assets/css/custom.css"
          th:href="@{/wechat-resource/assets/css/custom.css}">
</head>
<body class="view-bg-color view-fs-small" data-url-sendAuthCode="/api/authCode"
      th:data-url-sendAuthCode="@{/misc/sendWithdrawCode}">
<div class="weui-msg">
    <p>我们已经发送了验证码到你的手机：</p>
    <!--/*@thymesVar id="mosaicMobile" type="java.lang.String"*/-->
    <!--/*@thymesVar id="withdraw" type="java.math.BigDecimal"*/-->
    <h3 class="text-big" id="J_mobile" th:text="${mosaicMobile}">189*****3070</h3>
    <form method="post" action="withdrawSuccess.html" th:action="@{/withdrawVerify}" id="J_messageForm">
        <input type="hidden" name="withdraw" th:value="${withdraw}">
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell weui-cell_vcode">
                <div class="weui-cell__hd">
                    <label class="weui-label">验证码</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" name="authCode" required minlength="4" type="text" placeholder="请输入短信验证码">
                </div>
                <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
                <div class="weui-cell__ft">
                    <button type="button" class="weui-vcode-btn" id="J_authCode">获取验证码</button>
                </div>
            </div>
        </div>
        <div class="weui-btn-area">
            <button type="submit" form="J_messageForm" class="weui-btn weui-btn_custom">确&nbsp;&nbsp;定
            </button>
        </div>
    </form>
</div>
</body>
<script src="//cdn.lmjia.cn/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.lmjia.cn/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
<script src="//cdn.lmjia.cn/jquery-validation/1.16.0/jquery.validate.min.js"></script>

<script src="../mock/mock-min.js" th:remove="all"></script>
<script src="../mock/api.js" th:remove="all"></script>

<script src="../wechat-resource/assets/js/withdrawVerify.js"></script>

<!--/*@thymesVar id="badCode" type="boolean"*/-->
<script th:if="${badCode}">
    $(function () {
        $.toptip('验证码错误');
    })
</script>
</html>