<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="infinite">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>我要提现</title>

    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/lib/weui.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/css/jquery-weui.min.css">

    <link rel="stylesheet" href="../wechat-resource/assets/css/custom.css"
          th:href="@{/wechat-resource/assets/css/custom.css}">
</head>
<!--/*@thymesVar id="minAmount" type="int"*/-->
<!--/*@thymesVar id="maxAmount" type="int"*/-->
<!--/*@thymesVar id="companyName" type="java.lang.String"*/-->
<!--/*@thymesVar id="taxpayerCode" type="java.lang.String"*/-->
<!--/*@thymesVar id="bankName" type="java.lang.String"*/-->
<!--/*@thymesVar id="bankAccount" type="java.lang.String"*/-->
<!--/*@thymesVar id="companyAddress" type="java.lang.String"*/-->
<!--/*@thymesVar id="companyTelephone" type="java.lang.String"*/-->
<body class="view-bg-color view-fs-small" data-min-amount="1000" th:data-min-amount="${minAmount}"
      data-max-amount-without-invoice="20000" th:data-max-amount-without-invoice="${maxAmount}">
<section class="view_body view_body-withdraw">
    <form action="withdrawVerify.html" method="post" th:action="@{/wechatWithdraw}" id="J_form">
        <div class="weui-cells__title">收款信息</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">收款人</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="请输入收款人" name="payee">
                </div>
                <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">收款帐号</label>
                </div>
                <div class="weui-cell__bd">
                    <input type="hidden" name="account">
                    <input class="weui-input" type="text" placeholder="请输入收款帐号" id="J_Bank">
                </div>
                <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">开户行</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="请输入开户行" name="bank">
                </div>
                <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">收款人电话</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="tel" placeholder="请输入电话" name="mobile">
                </div>
                <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
            </div>
        </div>
        <div class="weui-cells__title">提现金额</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell view-input-withdraw">
                <div class="weui-cell__hd">
                    <strong class="text-big">￥</strong>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="可提现金额 59988.09元"
                           th:placeholder="${'可提现金额 '}+${{@readService.currentBalance(#authentication.principal)}}"
                           id="J_allInVal" name="withdraw">
                    <span id="minError" style="color:#F00;display:none">最少提现金额<span th:text="${minAmount}">1000</span>元</span>
                    <span id="maxError" style="color:#F00;display:none">无发票最多提现<span th:text="${maxAmount}">20000</span>元</span>
                </div>
                <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
                <div class="weui-cell__ft">
                    <a href="javascript:;" class="weui-btn weui-btn_default_custom js-all-in" id="J_allInBtn"
                       data-all-in="59988.09"
                       th:data-all-in="${@readService.currentBalance(#authentication.principal).amount.setScale(2)}">全部提现</a>
                </div>
            </div>
        </div>

        <div class="weui-cells__title">发票</div>
        <div class="weui-cells weui-cells_checkbox">
            <label class="weui-cell weui-check__label" for="J_noInvoice">
                <div class="weui-cell__hd">
                    <input type="radio" class="weui-check js-invoice" name="invoice" value="false" id="J_noInvoice"
                           checked="checked">
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd">
                    <p>无发票，代扣税
                        <!--/*@thymesVar id="rate" type="java.lang.String"*/-->
                        <!--/*@thymesVar id="ratePercent" type="java.lang.String"*/-->
                        <span id="J_noInvoiceCost" th:text="${ratePercent}" data-value="0.2"
                              th:data-value="${rate}">20%</span></p>
                </div>
            </label>
            <label class="weui-cell weui-check__label" for="J_haveInvoice">
                <div class="weui-cell__hd">
                    <input type="radio" class="weui-check js-invoice" name="invoice" value="true" id="J_haveInvoice">
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd">
                    <p>有发票</p>
                </div>
            </label>
            <div id="J_extra" class="weui-cells weui-cells_form displayNone">
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">物流单号</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="输入物流单号" name="logisticsCode">
                    </div>
                    <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">物流公司</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="输入物流公司" name="logisticsCompany">
                    </div>
                    <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
                </div>
                <div class="weui-cell weui-cell_link">
                    <div class="weui-cell__bd text-error">开票信息</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><p class="weui-label">公司名称</p></div>
                    <div class="weui-cell__bd">
                        <p th:text="${companyName}">利每家科技有限公司</p>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><p class="weui-label">公司税号</p></div>
                    <div class="weui-cell__bd">
                        <p th:text="${taxpayerCode}">91330108MA28MBU173</p>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><p class="weui-label">开户行</p></div>
                    <div class="weui-cell__bd">
                        <p th:text="${bankName}">兴业银行杭州滨江支行</p>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><p class="weui-label">开户账号</p></div>
                    <div class="weui-cell__bd">
                        <p th:text="${bankAccount}">356940100100162419</p>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><p class="weui-label">公司地址</p></div>
                    <div class="weui-cell__bd">
                        <p th:text="${companyAddress}">杭州市滨江区滨盛路1508号海亮大厦1803室</p>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><p class="weui-label">联系电话</p></div>
                    <div class="weui-cell__bd">
                        <p th:text="${companyTelephone}">0570-88187913</p>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><p class="weui-label">发票内容</p></div>
                    <div class="weui-cell__bd">
                        <!--/*@thymesVar id="content" type="java.lang.String"*/-->
                        <p th:text="${content}">服务费或劳务费的增值发票</p>
                    </div>
                </div>
            </div>
            <a href="javascript:void(0);" class="weui-cell weui-cell_link open-popup"
               data-target="#J_upgradeRules">
                &emsp;<input type="checkbox" name="agree" onclick="return false" value='agree'
                             id="J_agree">
                <div class="weui-cell__bd" style="color: #009bb6">&emsp;《收益提现规则》</div>
            </a>
        </div>
    </form>
</section>
<div class="weui-footer weui-footer_fixed-bottom view-footer_withdraw" id="J_footBtn">
    <div class="weui-flex">
        <div class="weui-flex__item">
            <div class="weui-cells__title">到账金额</div>
            <p class="text-big">￥<span id="J_withdrawAmount"></span></p>
        </div>
        <div class="weui-flex__item">
            <button type="submit" class="weui-btn weui-btn_custom" form="J_form" id="withSubmit">确定提现</button>
        </div>
    </div>
</div>
<div id="J_upgradeRules" class="weui-popup__container">
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal">
        <article class="weui-article">
            <h1 class="text-center">客户提现规则</h1>
            <section>
                <section>
                    <p> 一、提现规则</p>
                    <p>1. 提现金额满1000元以上可以申请提现。</p>
                    <p>2. 客户递交申请时请选择是否提供发票，如果选择提供发票，请把发票寄到利毎家财务部；如果选择不提供发票，每笔提现金额不得高于20000元，并同意代扣20%税金。
                    </p>
                    <p>3. 公司财务收到客户提交申请后T+1支付，提供发票的按收到发票之日计算（节假日顺延）。</p>
                    <p>二、发票的要求</p>
                    <p>1. 发票的类型必须是增值税发票（公司必须提供增值税专用发票），发票的内容是服务费或劳务费，发票的购买方必须是利毎家科技有限公司,发票的销售方和提现的收款人信息必须一致。</p>
                    <p>三、利每家开票资料：</p>
                    <p>公司名称：<span th:text="${companyName}">利每家科技有限公司</span></p>
                    <p>公司税号：<span th:text="${taxpayerCode}">91330108MA28MBU173</span></p>
                    <p>开&nbsp;&nbsp;户&nbsp;&nbsp;行：<span th:text="${bankName}">兴业银行杭州滨江支行</span></p>
                    <p>开户帐号：<span th:text="${bankAccount}">356940100100162419</span></p>
                    <p>地&emsp;&emsp;址：<span th:text="${companyAddress}">杭州市滨江区滨盛路1508号海亮大厦1803室</span></p>
                    <p>电&emsp;&emsp;话：<span th:text="${companyTelephone}">0571--88187913</span></p>
                </section>
            </section>
            <button type="button" class="weui-btn weui-btn_custom close-popup" id="J_agree_button">同&emsp;&emsp;意
            </button>
            <button type="button" class="weui-btn weui-btn_custom close-popup" id="J_reject_button">拒&emsp;&emsp;绝
            </button>
        </article>
    </div>
</div>
</body>
<script src="//cdn.lmjia.cn/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.lmjia.cn/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
<script src="//cdn.lmjia.cn/jquery-validation/1.16.0/jquery.validate.min.js"></script>
<script src="../wechat-resource/assets/js/withdraw.js" th:src="@{/wechat-resource/assets/js/withdraw.js(v=2)}"></script>
<th:block th:include="wechat@fragments/share.html::hideAllShare"/>
</html>