<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:res="http://resource.jiangcai.me" lang="en">
<!--/*@thymesVar id="currentData" type="cn.lmjia.market.core.entity.MainGood"*/-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>商品详情</title>

    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/lib/weui.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/css/jquery-weui.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/swiper/3.4.2/css/swiper.min.css">

    <link rel="stylesheet" href="../../wechat-resource/assets/css/mall.css">
</head>
<body class="bg-gray" th:object="${currentData}">
<div class="mall-toolbar clearfix">
    <h3><a href="index.html" th:href="@{/wechatIndex}">利每家</a></h3>
    <div class="mall-toolbar-items">
        <a href="orderList.html" th:href="@{/wechatMallOrderList}" class="toolbar-item">我的订单</a>
        <a href="search.html" th:href="@{/wechatSearch}" class="toolbar-item m-search"></a>
        <a href="javascript:;" class="toolbar-item m-cart js-cartBtn">
            <span class="cart-badge">0</span>
        </a>
    </div>
</div>
<form action="cart.html" th:action="@{/wechatSearch/goodsList}" method="post" id="J_cartForm">
    <input type="hidden" name="order">
</form>
<div class="mall-carousel">
    <!--一个广告图的情况下-->
    <div class="alone-image">
        <img res:src="*{product.mainImg}"
             src="https://m.360buyimg.com/mobilecms/s720x322_jfs/t7531/122/3206157162/41027/aa9c92f1/59bba3d8N58945bc1.jpg!q70.jpg">
    </div>
    <!--<div class="swiper-container">
        <div class="swiper-wrapper" th:remove="all-but-first">
            <div class="swiper-slide" th:each="imgTag:${@readService.allTagByType(2)}" th:attr="tagName=${imgTag.name}">
                <img res:src="${imgTag.icon}"
                     src="https://m.360buyimg.com/n12/jfs/t3034/299/2060854617/119711/577e85cb/57d11b6cN1fd1194d.jpg!q70.jpg">
            </div>
            <div class="swiper-slide">
                <img src="https://gw.alicdn.com/imgextra/i4/62871920/TB2j5JHzhtmpuFjSZFqXXbHFpXa_!!62871920.jpg_760x760q50s150.jpg_.webp">
            </div>
            <div class="swiper-slide">
                <img src="https://m.360buyimg.com/n12/jfs/t3223/185/1656650225/45118/27b7bd1d/57d11b6dN7b535984.jpg!q70.jpg">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>-->
</div>
<div class="goods-info-wrap" th:attr="data-goods-id=*{id}">
    <h4 class="goods-name" th:text="*{product.name}">现货! 国行正品 Ricoh/理光 GR II GRII 理光GR2代数码相机卡片机</h4>
    <div class="goods-price">
        <span th:text="*{{totalPrice}}">1314</span>
    </div>
    <div class="goods-tab" >
        <p th:each="tag:*{tags}" th:text="${tag.name}">安装：免安装费</p>
        <p th:remove="all">快递：免运费</p>
    </div>
</div>
<div class="goods-detail-wrap">
    <div class="good-detail-hd">
        <p>图文详情</p>
    </div>
    <div class="goods-detail-bd" th:utext="*{product.richDescription}">
        <p><img alt=""
                src="https://gw.alicdn.com/imgextra/i2/62871920/TB2AdeOaEQIL1JjSZFhXXaDZFXa_!!62871920.jpg_970x970q50s150.jpg_.webp">
        </p>
        <p>
            <img src="https://gw.alicdn.com/imgextra/i1/62871920/TB2KPqPaA.HL1JjSZFuXXX8dXXa_!!62871920.jpg_970x970q50s150.jpg_.webp"
                 alt=""></p>
        <p>
            <img src="https://gw.alicdn.com/imgextra/i1/62871920/TB2buCFawkLL1JjSZFpXXa7nFXa_!!62871920.jpg_970x970q50s150.jpg_.webp"
                 alt=""></p>
    </div>
</div>
<div class="goods-detail-ft">
    <div class="goods-action">
        <a href="javascript:;" class="add-btn yellow-color js-open-menu">加入购物车</a>
        <a href="javascript:;" class="add-btn red-color js-open-menu">立即购买</a>
    </div>
</div>
<div class="flick-menu-mask"></div>
<div class="spec-menu">
    <div class="spec-menu-hd">
        <div class="sku-img">
            <div class="spec-first-pic">
                <img id="J_specImage" res:src="*{product.mainImg}"
                     src="https://img.alicdn.com/imgextra/i2/62871920/TB2D0pofYsTMeJjy1zbXXchlVXa_!!62871920.jpg_120x120q50s150.jpg">
            </div>
        </div>
        <div class="sku-pro-info">
            <h4 class="goods-name"><span  th:text="*{product.name}" class="js-goodsName">理光 GR II GRII 理光GR2代数码相机卡片机</span></h4>
            <p class="goods-price">￥<span th:text="*{totalPrice}" class="js-goodsPrice">5579</span></p>
            <p class="goods-stock">库存：<span th:text="*{product.stock}"
                                            class="js-goodsStock">3</span></p>
        </div>
        <div class="sku-closed js-closed-menu"></div>
    </div>
    <div class="spec-menu-bd">
        <div class="sku-info" th:each="property:*{product.productType.specPropertyNameList}">
            <h4 th:text="${property.name}">颜色</h4>
            <ul class="property-list">
                <th:block th:each="propertyValue:${currentData.product.productType.getPropertyValueByPropertyName(property)}"
                          th:with="propertyValueGoods = ${@mainGoodService.forSaleByPropertyValue(null,currentData.product.productType,property,propertyValue)}">
                    <li th:if="${propertyValueGoods != null}"
                        res:src="${propertyValueGoods.product.mainImg}"
                        th:attr="data-goods-id = ${propertyValueGoods.id},data-goods-stock=${propertyValueGoods.product.stock}
                    ,data-goods-name=${propertyValueGoods.product.name},data-goods-price=${{propertyValueGoods.totalPrice}}
                        ,data-disabled=${propertyValueGoods.product.stock <= 0 ? 'disabled' : ''}"
                        th:text="${propertyValue.value}"
                        th:class="${currentData.product.propertyNameValues.values().contains(propertyValue.value) ? 'active' : ''}"
                        th:classappend="${propertyValueGoods.product.stock <= 0 ? 'disabled' : ''}"
                        src="https://img.alicdn.com/imgextra/i2/62871920/TB2D0pofYsTMeJjy1zbXXchlVXa_!!62871920.jpg_120x120q50s150.jpg"
                        data-goods-name="理光 GR II GRII 理光GR2代数码相机卡片机"
                        data-goods-price="5579" data-goods-id="0" data-goods-stock="3" class="active">黑色
                    </li>
                </th:block>
                <li src="https://img1.360buyimg.com/da/jfs/t8266/86/1431159567/98188/3367b0c7/59b94a27Nbe9d0c16.jpg"
                    data-goods-id="1" data-goods-name="净水器" data-goods-price="3000" data-goods-stock="5"  th:remove="all">白色</li>
            </ul>
        </div>
        <div class="quantity-info">
            <div class="sku-quantity">
                <h2>购买数量</h2>
                <p class="btn-minus off"><a class="btn minus" data-min="1"></a></p>
                <p class="btn-input"><input type="tel" value="1" title="quantity"></p>
                <p class="btn-plus"><a class="btn plus" data-max="3" th:data-max="*{product.stock}"></a></p>
            </div>
        </div>
    </div>
    <div class="spec-menu-btn">
        <div class="goods-action">
            <a href="javascript:;" class="add-btn yellow-color" id="J_addCart">加入购物车</a>
            <a href="javascript:;" class="add-btn red-color" id="J_buyNow">立即购买</a>
        </div>
    </div>
</div>
<form action="orderPlace.html" th:action="@{/mallOrder}" method="post" id="J_orderPlace">
    <input type="hidden" name="order">
</form>
</body>
<script src="//cdn.lmjia.cn/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.lmjia.cn/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
<script src="//cdn.lmjia.cn/swiper/3.4.2/js/swiper.jquery.min.js"></script>
<script src="../../wechat-resource/assets/js/mall/storage.js" th:src="@{/wechat-resource/assets/js/mall/storage.js}"></script>
<script src="../../wechat-resource/assets/js/mall/detail.js" th:src="@{/wechat-resource/assets/js/mall/detail.js}"></script>
</html>