<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:res="http://resource.jiangcai.me" xmlns:wx="http://wx.jiangcai.me" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>商城</title>

    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/lib/weui.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/swiper/3.4.2/css/swiper.min.css">

    <link rel="stylesheet" href="../../wechat-resource/assets/css/mall.css">
</head>
<body class="bg-gray">
<div class="mall-toolbar clearfix">
    <h3><a href="index.html" th:href="@{/wechatIndex}">商城</a></h3>
    <div class="mall-toolbar-items">
        <a href="orderList.html" th:href="@{/wechatMallOrderList}" class="toolbar-item">我的订单</a>
        <a href="search.html" th:href="@{/wechatSearch}" class="toolbar-item m-search"></a>
        <a href="javascript:;" class="toolbar-item m-cart js-cartBtn">
            <span class="cart-badge">0</span>
        </a>
    </div>
</div>
<form action="cart.html" th:action="@{/wechatSearch/goodsList}" method="post" id="J_cartForm">
    <input type="hidden" name="order">
</form>
<div class="mall-carousel">
    <!--一个广告图的情况下-->
    <!--<div class="alone-image">-->
    <!--<img src="https://m.360buyimg.com/mobilecms/s720x322_jfs/t7531/122/3206157162/41027/aa9c92f1/59bba3d8N58945bc1.jpg!q70.jpg">-->
    <!--</div>-->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" th:each="imgTag:${@readService.allTagByType(2)}" th:attr="tagName=${imgTag.name}">
                <img res:src="${imgTag.icon}"
                     src="https://m.360buyimg.com/mobilecms/s720x322_jfs/t7531/122/3206157162/41027/aa9c92f1/59bba3d8N58945bc1.jpg!q70.jpg">
            </div>
            <div class="swiper-slide" th:remove="all">
                <img src="https://img1.360buyimg.com/da/jfs/t7684/361/3106386494/64538/fedcfaa/59ba29d9N9cdff0bc.jpg">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="mall-tagBanner">
    <div class="tag-list tag-list-middle">
        <div class="tag-list-bd">
            <div class="tag-list-item" th:each="searchTag:${@readService.allTagByType(0)}">
                <a th:href="@{/wechatSearch/tagSearch(tagName=${searchTag.name})}" href="tagDetail.html"
                   class="tag-content" th:attr="tag-name=${searchTag.name}" tag-name="净水器">
                    <img res:src="${searchTag.icon}"
                         src="https://m.360buyimg.com/mobilecms/jfs/t5668/159/160398199/14046/acfe1fa3/591d9424N068a7ad0.png"
                         class="tag-image">
                    <p class="tag-title" th:text="${searchTag.name}">净水器</p>
                </a>
            </div>
            <div class="tag-list-item" th:remove="all">
                <a href="tagDetail.html" class="tag-content">
                    <img src="https://m.360buyimg.com/mobilecms/jfs/t5965/339/3633548361/13799/cd4d0416/5954cf81N3294a71c.png"
                         class="tag-image">
                    <p class="tag-title">食品优化宝</p>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="mall-tagList">
    <div class="tag-list tag-list-big" th:each="listTag:${@readService.allTagByType(1)}"
         th:attr="data-tag-name=${listTag.name}" data-tag-name="热销">
        <div class="tag-list-hd">
            <h4 th:text="${listTag.name}">热销</h4>
            <a href="tagDetail.html" th:href="@{/wechatSearch/tagSearch(tagName=${listTag.name})}" class="more-list">更多
                <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="tag-list-bd">
            <div class="tag-list-item" data-goods-id="0"
                 th:each="goods:${@mainGoodService.forSale(null,null,null,listTag.name)}"
                 th:attr="data-goods-id=${goods.id}">
                <a href="goodsDetail.html" th:href="@{/wechatSearch/goodsDetail/} + ${goods.id}" class="tag-content">
                    <div class="tag-image-wrap">
                        <img th:if="${goods.product.mainImg != null}" res:src="${goods.product.mainImg}"
                             src="http://r.lmjia.cn/product/ESL-HM01.jpeg"
                             class="tag-image">
                    </div>
                    <div class="goods-tag-wrap">
                        <p class="tag-title" th:text="${goods.product.name}">帅风橱下净水器</p>
                        <p class="tag-subTitle" th:text="${goods.product.description}"></p>
                        <div class="tag-detail">
                            <div class="goods-price" th:text="'￥' + ${goods.totalPrice}">￥3000.00</div>
                            <!--<div class="goods-bought">9999人付款</div>-->
                        </div>
                    </div>
                </a>
            </div>
            <div class="tag-list-item" th:remove="all">
                <a href="goodsDetail.html" class="tag-content">
                    <div class="tag-image-wrap">
                        <img src="http://r.lmjia.cn/product/SP70A-HS.jpeg"
                             class="tag-image">
                    </div>
                    <div class="goods-tag-wrap">
                        <p class="tag-title">书风食品优化宝</p>
                        <p class="tag-subTitle">【可以吃的唇膏】韩国樱桃Q10修护润唇膏唇膜男女无色 淡化唇纹保湿滋润补水去死皮角质 润唇膏</p>
                        <div class="tag-detail">
                            <div class="goods-price">￥9800.00</div>
                            <!--<div class="goods-bought">1.4万人付款</div>-->
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="tag-list tag-list-big" th:remove="all">
        <div class="tag-list-hd">
            <h4>促销</h4>
            <a href="tagDetail.html" class="more-list">更多 <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="tag-list-bd">
            <div class="tag-list-item">
                <a href="goodsDetail.html" class="tag-content">
                    <div class="tag-image-wrap">
                        <img src="http://r.lmjia.cn/product/LZXP.jpeg"
                             class="tag-image">
                    </div>
                    <div class="goods-tag-wrap">
                        <p class="tag-title">帅风橱下净水器</p>
                        <p class="tag-subTitle">【京东配送】航向者 高频酷睿i3升i5/GTX750独显游戏办公台式电脑主机/DIY组装机 套餐一/ 酷睿i3/GTX650独显</p>
                        <div class="tag-detail">
                            <div class="goods-price">￥3000.00</div>
                            <!--<div class="goods-bought">9999人付款</div>-->
                        </div>
                    </div>
                </a>
            </div>
            <div class="tag-list-item">
                <a href="goodsDetail.html" class="tag-content">
                    <div class="tag-image-wrap">
                        <img src="http://r.lmjia.cn/product/HK-B5S.jpeg"
                             class="tag-image">
                    </div>

                    <div class="goods-tag-wrap">
                        <p class="tag-title">书风食品优化宝</p>
                        <p class="tag-subTitle">【可以吃的唇膏】韩国樱桃Q10修护润唇膏唇膜男女无色 淡化唇纹保湿滋润补水去死皮角质 润唇膏</p>
                        <div class="tag-detail">
                            <div class="goods-price">￥9800.00</div>
                            <!--<div class="goods-bought">1.4万人付款</div>-->
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
<script src="//cdn.lmjia.cn/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.lmjia.cn/swiper/3.4.2/js/swiper.jquery.min.js"></script>
<script src="../../wechat-resource/assets/js/mall/storage.js"></script>
<script src="../../wechat-resource/assets/js/mall/index.js"></script>
<script th:if="${#authentication.principal != null}" wx:js=""></script>
<script  th:if="${#authentication.principal != null}"
         wx:share="利每家|${'您的好友'+@readService.wechatNickNameForPrincipal(#authentication.principal)+'向您推荐'}|${@systemService.toUrl('/wechatForward/')+'0_'+#authentication.principal.id}|https://cdn.lmjia.cn/lmjia_logo_1.png"></script>
</html>