<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:res="http://resource.jiangcai.me" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>商城</title>

    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/lib/weui.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/swiper/3.4.2/css/swiper.min.css">

    <link rel="stylesheet" href="../../wechat-resource/assets/css/mall.css">
</head>
<body class="bg-gray">
<div class="mall-toolbar clearfix">
    <h3><a href="index.html">利美家</a></h3>
    <div class="mall-toolbar-items">
        <a href="../orderList.html" th:href="@{/wechatMy}" class="toolbar-item">我的订单</a>
        <a href="search.html" th:href="@{/wechatSearch}" class="toolbar-item"><i class="fa fa-search"></i></a>
        <a href="javascript:;" class="toolbar-item m-cart js-cartBtn">
            <i class="fa fa-shopping-cart"></i>
            <span class="cart-badge">0</span>
        </a>
    </div>
</div>
<form action="cart.html" method="post" id="J_cartForm">
    <input type="hidden" name="order">
</form>
<div class="mall-carousel">
    <!--一个广告图的情况下-->
    <!--<div class="alone-image">-->
    <!--<img src="https://m.360buyimg.com/mobilecms/s720x322_jfs/t7531/122/3206157162/41027/aa9c92f1/59bba3d8N58945bc1.jpg!q70.jpg">-->
    <!--</div>-->
    <div class="swiper-container">
        <div class="swiper-wrapper" th:remove="all-but-first">
            <div class="swiper-slide" th:each="imgTag:${@readService.allTagByType(2)}" th:attr="tagName=${imgTag.name}">
                <img res:src="${imgTag.icon}"
                     src="https://m.360buyimg.com/mobilecms/s720x322_jfs/t7531/122/3206157162/41027/aa9c92f1/59bba3d8N58945bc1.jpg!q70.jpg">
            </div>
            <div class="swiper-slide">
                <img src="https://img1.360buyimg.com/da/jfs/t7684/361/3106386494/64538/fedcfaa/59ba29d9N9cdff0bc.jpg">
            </div>
            <div class="swiper-slide">
                <img src="https://img1.360buyimg.com/da/jfs/t8266/86/1431159567/98188/3367b0c7/59b94a27Nbe9d0c16.jpg">
            </div>
            <div class="swiper-slide">
                <img src="https://m.360buyimg.com/mobilecms/s720x322_jfs/t9358/106/1553870784/143809/5dc39ec/59bbaf25N0cec07fb.jpg!q70.jpg">
            </div>
            <div class="swiper-slide">
                <img src="https://img1.360buyimg.com/da/jfs/t8911/273/1385575075/90946/4ef021c7/59b910a5N4f0da615.jpg">
            </div>
            <div class="swiper-slide">
                <img src="https://m.360buyimg.com/mobilecms/s720x322_jfs/t9118/20/1455985783/89737/7770712b/59ba18d7N256a1bdc.jpg!q70.jpg">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="mall-tagBanner">
    <div class="tag-list tag-list-middle">
        <div class="tag-list-bd" th:remove="all-but-first">
            <div class="tag-list-item" th:each="searchTag:${@readService.allTagByType(0)}">
                <a th:href="@{/wechatSearch/tagSearch(tagName=${searchTag.name})}" href="tagDetail.html" class="tag-content" th:attr="tag-name=${searchTag.name}" tag-name="净水器">
                    <img res:src="${searchTag.icon}"
                            src="https://m.360buyimg.com/mobilecms/jfs/t5668/159/160398199/14046/acfe1fa3/591d9424N068a7ad0.png"
                         class="tag-image">
                    <p class="tag-title" th:text="${searchTag.name}">净水器</p>
                </a>
            </div>
            <div class="tag-list-item">
                <a href="tagDetail.html" class="tag-content">
                    <img src="https://m.360buyimg.com/mobilecms/jfs/t5965/339/3633548361/13799/cd4d0416/5954cf81N3294a71c.png"
                         class="tag-image">
                    <p class="tag-title">食品优化宝</p>
                </a>
            </div>
            <div class="tag-list-item">
                <a href="tagDetail.html" class="tag-content">
                    <img src="https://m.360buyimg.com/mobilecms/jfs/t5842/205/151189300/13247/a6de2d/591d94edNc42fb94d.png"
                         class="tag-image">
                    <p class="tag-title">空气净化器</p>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="mall-tagList" th:remove="all-but-first">
    <div class="tag-list tag-list-big" th:each="listTag:${@readService.allTagByType(1)}">
        <div class="tag-list-hd">
            <h4 th:text="${listTag.name}">热销</h4>
            <a href="tagDetail.html" th:href="@{/wechatSearch/tagSearch(tagName=${listTag.name})}" class="more-list">更多 <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="tag-list-bd" th:remove="all-but-first">
            <div class="tag-list-item" th:each="goods:${@mainGoodService.forSale(null,listTag.name)}" th:attr="goodsId=${goods.id}">
                <a href="goodsDetail.html" th:href="@{/wechatSearch/goodsDetail/${goods.id}}" class="tag-content">
                    <img th:if="${goods.product.mainImg != null}" res:src="${goods.product.mainImg}"
                            src="https://m.360buyimg.com/mobilecms/jfs/t5137/80/1620258323/3817/d2ca0058/5912cf51N20cf199b.jpg!q70.jpg"
                         class="tag-image">
                    <p class="tag-title" th:text="${goods.product.name}">帅风橱下净水器</p>
                    <p class="tag-subTitle" th:text="${goods.product.description}"></p>
                    <!--<div th:remove="all-but-first" class="tag-subTitle">
                        <span th:each="tag:${goods.tags}" th:text="tag.name">净水器</span>
                        <span>热销</span>
                        <span>热销</span>
                    </div>-->
                    <div class="tag-detail">
                        <div class="goods-price" th:text="'￥' + ${goods.totalPrice}">￥3000</div>
                        <!--<div class="goods-bought">9999人付款</div>-->
                    </div>
                </a>
            </div>
            <div class="tag-list-item">
                <a href="goodsDetail.html" class="tag-content">
                    <img src="https://m.360buyimg.com/mobilecms/jfs/t6385/2/2557936611/16340/88d1286d/5963868cN997a1bee.jpg!q70.jpg"
                         class="tag-image">
                    <p class="tag-title">书风食品优化宝</p>
                    <p class="tag-subTitle">【可以吃的唇膏】韩国樱桃Q10修护润唇膏唇膜男女无色 淡化唇纹保湿滋润补水去死皮角质 润唇膏</p>
                    <div class="tag-detail">
                        <div class="goods-price">￥9800</div>
                        <div class="goods-bought">1.4万人付款</div>
                    </div>
                </a>
            </div>
            <div class="tag-list-item">
                <a href="goodsDetail.html" class="tag-content">
                    <img src="https://m.360buyimg.com/mobilecms/jfs/t5458/79/1151352524/8169/61cdc42f/590c554dN7800dbb6.jpg!q70.jpg"
                         class="tag-image">
                    <p class="tag-title">科里空气净化器</p>
                    <p class="tag-subTitle">弘毅斋 莲花椰丝拜垫打坐垫禅修垫蒲团加厚环保 瑜伽垫 褐色 60*60cm</p>
                    <div class="tag-detail">
                        <div class="goods-price">￥13000</div>
                        <div class="goods-bought">399人付款</div>
                    </div>
                </a>
            </div>
            <div class="tag-list-item">
                <a href="goodsDetail.html" class="tag-content">
                    <img src="https://m.360buyimg.com/mobilecms/jfs/t8125/86/1562150339/29447/ec04eaaa/59bbbd21N095c4fe3.jpg!q70.jpg"
                         class="tag-image">
                    <p class="tag-title">科里空气净化器</p>
                    <p class="tag-subTitle">弘毅斋 莲花椰丝拜垫打坐垫禅修垫蒲团加厚环保 瑜伽垫 褐色 60*60cm</p>
                    <div class="tag-detail">
                        <div class="goods-price">￥13000</div>
                        <div class="goods-bought">399人付款</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="tag-list tag-list-big">
        <div class="tag-list-hd">
            <h4>促销</h4>
            <a href="tagDetail.html" class="more-list">更多 <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="tag-list-bd">
            <div class="tag-list-item">
                <a href="goodsDetail.html" class="tag-content">
                    <img src="https://m.360buyimg.com/n1/jfs/t3910/9/530588409/377309/ddd2d11f/585354ebN05487fa2.jpg!q70.jpg"
                         class="tag-image">
                    <p class="tag-title">帅风橱下净水器</p>
                    <p class="tag-subTitle">【京东配送】航向者 高频酷睿i3升i5/GTX750独显游戏办公台式电脑主机/DIY组装机 套餐一/ 酷睿i3/GTX650独显</p>
                    <div class="tag-detail">
                        <div class="goods-price">￥3000</div>
                        <div class="goods-bought">9999人付款</div>
                    </div>
                </a>
            </div>
            <div class="tag-list-item">
                <a href="goodsDetail.html" class="tag-content">
                    <img src="https://m.360buyimg.com/mobilecms/jfs/t4243/38/2071438630/8234/17ef60a3/58cb7493Naa1b29c7.jpg!q70.jpg"
                         class="tag-image">
                    <p class="tag-title">书风食品优化宝</p>
                    <p class="tag-subTitle">【可以吃的唇膏】韩国樱桃Q10修护润唇膏唇膜男女无色 淡化唇纹保湿滋润补水去死皮角质 润唇膏</p>
                    <div class="tag-detail">
                        <div class="goods-price">￥9800</div>
                        <div class="goods-bought">1.4万人付款</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
<script src="//cdn.lmjia.cn/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.lmjia.cn/swiper/3.4.2/js/swiper.jquery.min.js"></script>
<script src="../../wechat-resource/assets/js/mall/storage.js"></script>
<script src="../../wechat-resource/assets/js/mall/index.js"></script>
</html>