<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>帮助中心</title>

    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/lib/weui.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/css/jquery-weui.min.css">

    <link rel="stylesheet" href="../../wechat-resource/assets/css/custom.css"
          th:href="@{/wechat-resource/assets/css/custom.css}">
</head>
<body class="view-bg-color view-fs-small">
<article class="weui-article">
    <!--/*@thymesVar id="commonProblem" type="cn.lmjia.market.core.entity.help.CommonProblem"*/-->
    <h1 th:text="${commonProblem.title}">微信小视频如何保存</h1>
    <section th:utext="${commonProblem.content}">
        <p th:remove="all">在微信中轻触【我】->【设置】，“允许朋友查看朋友圈的范围”，可以设置允许朋友看！</p>
        <p th:remove="all">在微信中轻触【我】->【设置】，“允许朋友查看朋友圈的范围”，可以设置允许朋友看！</p>
        <p th:remove="all">
            <img src="http://dev_r.lmjia.cn/watch/a56eae58564743ad83b694f2f065eb1f.jpg"  />
        </p>
    </section>
</article>
</body>
</html>