<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="infinite">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>帮助</title>

    <link href="//cdnjs.cloudflare.com/ajax/libs/weui/1.0.1/style/weui.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/jquery-weui/1.0.1/css/jquery-weui.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../../wechat-resource/assets/css/custom.css"
          th:href="@{/wechat-resource/assets/css/custom.css}">
</head>
<body class="view-bg-color view-fs-small view-help-center"
      data-search-url="/api/search" th:data-search-url="@{/commonProblem/search}" data-detail-url="helpDetail.html?id=" th:data-detail-url="@{/commonProblemDetail/}">
<div class="weui-search-bar">
    <div class="weui-search-bar__form">
        <div class="weui-search-bar__box">
            <i class="weui-icon-search"></i>
            <form action="">
                <input type="search" class="weui-search-bar__input" placeholder="请输入内容" name="search"
                       id="J_searchInput">
            </form>
            <a href="javascript:" class="weui-icon-clear"></a>
        </div>
        <label class="weui-search-bar__label">
            <i class="weui-icon-search"></i>
            <span>搜索</span>
        </label>
    </div>
    <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
</div>
<div class="weui-cells__title">常见问题</div>
<div class="weui-cells">
    <div th:each="commonProblem:${@commonProblemService.findByWeight()}">
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:href="@{/commonProblemDetail/} + ${commonProblem.id}" >
        <div class="weui-cell__bd" th:text="${commonProblem.title}">微信实验室开启方法</div>
        <div class="weui-cell__ft"></div>
    </a>
    </div>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">开启或关闭微信朋友圈的方法</div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">微信聊天文件查找方法</div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">微信怎么设置朋友查看我的朋友圈的范围？</div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">你未发现的微信小功能</div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">微信小视频如何保存</div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">微信实验室开启方法</div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">开启或关闭微信朋友圈的方法</div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">微信聊天文件查找方法</div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">微信怎么设置朋友查看我的朋友圈的范围？</div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">你未发现的微信小功能</div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">微信小视频如何保存</div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">微信实验室开启方法</div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">开启或关闭微信朋友圈的方法</div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">微信聊天文件查找方法</div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">微信怎么设置朋友查看我的朋友圈的范围？</div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">你未发现的微信小功能</div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">微信小视频如何保存</div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">微信实验室开启方法</div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">开启或关闭微信朋友圈的方法</div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">微信聊天文件查找方法</div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">微信怎么设置朋友查看我的朋友圈的范围？</div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">你未发现的微信小功能</div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">微信小视频如何保存</div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">微信实验室开启方法</div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">开启或关闭微信朋友圈的方法</div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">微信聊天文件查找方法</div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">微信怎么设置朋友查看我的朋友圈的范围？</div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">你未发现的微信小功能</div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="helpDetail.html" th:remove="all">
        <div class="weui-cell__bd">微信小视频如何保存</div>
        <div class="weui-cell__ft"></div>
    </a>
</div>
<div class="view-search-mask" id="J_searchMask">

</div>
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
<script src="../../mock/mock-min.js" th:remove="all"></script>
<script src="../../mock/extend.js" th:remove="all"></script>
<script src="../../wechat-resource/assets/js/helpCenter/helpCenter.js"></script>
</html>