* {
  box-sizing: border-box; }

html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent; }

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px; }

.bg-gray {
  background: #f2f2f2; }

.mall-toolbar {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  font-size: 14px;
  background: #333; }
  .mall-toolbar::after {
    content: '';
    clear: both;
    display: table; }
  .mall-toolbar h3 {
    float: left;
    font-size: 14px;
    font-weight: normal; }
  .mall-toolbar .mall-toolbar-items {
    float: right; }
    .mall-toolbar .mall-toolbar-items a {
      display: inline-block;
      color: #fff;
      text-decoration: none; }
    .mall-toolbar .mall-toolbar-items .toolbar-item {
      margin-right: 20px; }
      .mall-toolbar .mall-toolbar-items .toolbar-item:last-of-type {
        margin-right: 10px; }
      .mall-toolbar .mall-toolbar-items .toolbar-item i {
        font-size: 18px; }
    .mall-toolbar .mall-toolbar-items .m-cart {
      position: relative;
      color: #ccc; }
      .mall-toolbar .mall-toolbar-items .m-cart .cart-badge {
        position: absolute;
        top: -.4em;
        right: -.4em;
        display: inline-block;
        padding: .15em .4em;
        min-width: 8px;
        border-radius: 18px;
        background-color: #f50;
        color: #FFFFFF;
        line-height: 1.2;
        text-align: center;
        font-size: 12px;
        vertical-align: middle; }

.mall-carousel img {
  display: block;
  width: 100%; }
.mall-carousel .swiper-pagination-bullet-active {
  background: #009bb6; }

.tag-list {
  padding-top: .77em;
  padding-bottom: .77em; }
  .tag-list .tag-list-hd {
    padding: 0 10px;
    margin-bottom: .77em; }
    .tag-list .tag-list-hd::after {
      content: '';
      clear: both;
      display: table; }
    .tag-list .tag-list-hd h4 {
      float: left;
      font-size: 16px;
      font-weight: normal; }
    .tag-list .tag-list-hd .more-list {
      float: right;
      display: block;
      text-decoration: none;
      color: #686868;
      height: 25px;
      line-height: 25px;
      font-size: 13px; }
  .tag-list .tag-list-bd .tag-content {
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    background: #fff;
    color: #686868;
    text-decoration: none; }
    .tag-list .tag-list-bd .tag-content .tag-image {
      margin: 0 auto 4px auto;
      display: block; }
    .tag-list .tag-list-bd .tag-content .tag-title {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical; }
    .tag-list .tag-list-bd .tag-content .tag-subTitle {
      min-height: 20px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical; }
    .tag-list .tag-list-bd .tag-content .tag-detail {
      font-size: 0; }

.tag-list-big .tag-list-bd::after {
  content: '';
  clear: both;
  display: table; }
.tag-list-big .tag-list-bd .tag-list-item {
  float: left;
  width: 50%;
  margin-bottom: 10px; }
  .tag-list-big .tag-list-bd .tag-list-item:nth-of-type(odd) {
    padding-left: 10px;
    padding-right: 5px; }
  .tag-list-big .tag-list-bd .tag-list-item:nth-of-type(even) {
    padding-left: 5px;
    padding-right: 10px; }
.tag-list-big .tag-list-bd .tag-content {
  padding-left: 15px;
  padding-right: 15px; }
  .tag-list-big .tag-list-bd .tag-content .tag-image {
    margin-bottom: 10px;
    width: 105px;
    height: 90px; }
  .tag-list-big .tag-list-bd .tag-content .tag-title {
    color: #000;
    font-size: 16px; }
  .tag-list-big .tag-list-bd .tag-content .tag-subTitle {
    color: #d4d4d4;
    font-size: 12px; }
  .tag-list-big .tag-list-bd .tag-content .tag-detail .goods-price, .tag-list-big .tag-list-bd .tag-content .tag-detail .goods-bought {
    display: inline-block;
    width: 50%; }
  .tag-list-big .tag-list-bd .tag-content .tag-detail .goods-price {
    font-size: 16px;
    color: #f50; }
  .tag-list-big .tag-list-bd .tag-content .tag-detail .goods-bought {
    font-size: 12px;
    text-align: right;
    color: #d4d4d4; }

.tag-list-middle .tag-list-bd {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-around; }
  .tag-list-middle .tag-list-bd .tag-list-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    margin: 0 5px; }
    .tag-list-middle .tag-list-bd .tag-list-item:first-of-type {
      margin-left: 10px; }
    .tag-list-middle .tag-list-bd .tag-list-item:last-of-type {
      margin-right: 10px; }
  .tag-list-middle .tag-list-bd .tag-content .tag-image {
    width: 34px;
    height: 34px; }
  .tag-list-middle .tag-list-bd .tag-content .tag-title {
    text-align: center; }

.search-body {
  padding-top: 44px; }

.search-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; }

.search-bar {
  position: relative;
  padding: 8px 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  box-sizing: border-box;
  background-color: #e1e1e1; }
  .search-bar .search-bar_form {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    flex: auto;
    background-color: #e1e1e1; }
    .search-bar .search-bar_form .search-bar_box {
      position: relative;
      padding-left: 30px;
      padding-right: 30px;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      z-index: 1;
      border-radius: 3px;
      background: #fff; }
      .search-bar .search-bar_form .search-bar_box .weui-icon-search {
        position: absolute;
        left: 10px;
        top: 0;
        line-height: 28px; }
      .search-bar .search-bar_form .search-bar_box .search-bar_input {
        padding: 4px 0;
        width: 100%;
        height: 1.42857143em;
        border: 0;
        font-size: 14px;
        line-height: 1.42857143em;
        box-sizing: content-box;
        background: transparent; }
        .search-bar .search-bar_form .search-bar_box .search-bar_input::-webkit-input-placeholder {
          color: #e4e4e4; }
      .search-bar .search-bar_form .search-bar_box .weui-icon-clear {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 10px;
        line-height: 28px; }
  .search-bar .search-bar_search-btn {
    display: block;
    margin-left: 10px;
    line-height: 28px;
    color: #009bb6;
    white-space: nowrap; }

.search-result {
  padding: 15px 10px; }
  .search-result .search-result_item {
    padding: 10px 15px;
    margin-bottom: 10px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    background: #fff;
    border-radius: 5px; }
    .search-result .search-result_item > img {
      display: block;
      width: 100px;
      height: 100px;
      margin-right: 15px; }
  .search-result .search-result_item-bd {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1; }
    .search-result .search-result_item-bd .goods-name {
      color: #232326;
      font-size: 15px;
      line-height: 20px;
      height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      word-break: break-all;
      font-weight: normal; }
    .search-result .search-result_item-bd .goods-describe {
      min-height: 20px;
      color: #686868;
      font-size: 12px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical; }
    .search-result .search-result_item-bd .goods-info {
      font-size: 0; }
      .search-result .search-result_item-bd .goods-info .goods-price, .search-result .search-result_item-bd .goods-info .goods-bought {
        display: inline-block;
        width: 50%; }
      .search-result .search-result_item-bd .goods-info .goods-price {
        font-size: 16px;
        color: #f50; }
      .search-result .search-result_item-bd .goods-info .goods-bought {
        font-size: 12px;
        text-align: right;
        color: #d4d4d4; }

.no-result {
  position: relative;
  text-align: center;
  top: 50px; }
  .no-result .icons-noresult {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background: url("../img/empty.png") no-repeat;
    background-size: cover; }
  .no-result .detail {
    text-align: center;
    color: #bcbcbc;
    line-height: 23px;
    font-size: 18px;
    margin-top: 17px; }

.cart-body {
  padding-top: 92px;
  padding-bottom: 58px; }
  .cart-body .mall-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; }
  .cart-body .mall-extra-toolbar {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0; }

.mall-extra-toolbar {
  padding-top: 14px;
  background: #f2f2f2; }
  .mall-extra-toolbar .toolbar-wrap {
    padding-left: 6px;
    padding-right: 6px;
    height: 38px;
    line-height: 38px;
    background: #fff; }
  .mall-extra-toolbar .toolbar-checkbox {
    float: left; }
    .mall-extra-toolbar .toolbar-checkbox label {
      display: block; }
    .mall-extra-toolbar .toolbar-checkbox .weui-icon-checked:before {
      content: "\EA01";
      color: #c9c9c9;
      font-size: 23px;
      display: block; }
    .mall-extra-toolbar .toolbar-checkbox .weui-check:checked + .weui-icon-checked:before {
      content: "\EA06";
      color: #f50; }
  .mall-extra-toolbar .toolbar-edit {
    float: right; }
    .mall-extra-toolbar .toolbar-edit button {
      padding: 0 10px;
      display: block;
      background: #fff;
      border: none;
      height: 100%;
      line-height: 38px; }

.mall-cart-list {
  background: #f5f5f5; }
  .mall-cart-list .cart-group {
    border-bottom: 6px solid #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center; }
    .mall-cart-list .cart-group:last-of-type {
      border-bottom: 1px solid #d9d9d9; }
    .mall-cart-list .cart-group .checked-box {
      width: 44px; }
      .mall-cart-list .cart-group .checked-box label {
        display: block;
        text-align: center; }
      .mall-cart-list .cart-group .checked-box .weui-icon-checked:before {
        content: "\EA01";
        color: #c9c9c9;
        font-size: 23px;
        display: block; }
      .mall-cart-list .cart-group .checked-box .weui-check:checked + .weui-icon-checked:before {
        content: "\EA06";
        color: #f50; }
    .mall-cart-list .cart-group .goods-image {
      width: 100px; }
      .mall-cart-list .cart-group .goods-image img {
        display: block;
        width: 100%; }
    .mall-cart-list .cart-group .goods-box {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      padding: 6px 12px; }
      .mall-cart-list .cart-group .goods-box .goods-name {
        color: #051b28;
        font-size: 13px;
        line-height: 20px;
        height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-break: break-all;
        font-weight: normal; }
      .mall-cart-list .cart-group .goods-box .goods-describe {
        color: #999;
        font-size: 12px;
        line-height: 20px;
        height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-break: break-all; }
      .mall-cart-list .cart-group .goods-box .goods-stock {
        color: #051b28;
        font-size: 12px;
        line-height: 20px;
        height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-break: break-all; }
      .mall-cart-list .cart-group .goods-box .goods-info {
        font-size: 0; }
        .mall-cart-list .cart-group .goods-box .goods-info .goods-price {
          display: inline-block;
          width: 50%;
          font-size: 16px;
          color: #f50; }
        .mall-cart-list .cart-group .goods-box .goods-info .goods-bought {
          display: inline-block;
          width: 50%;
          font-size: 14px;
          text-align: right;
          color: #051b28; }
    .mall-cart-list .cart-group .delete-btn {
      width: 60px;
      background: #f50;
      overflow: hidden;
      height: 122px; }
      .mall-cart-list .cart-group .delete-btn button {
        width: 100%;
        display: block;
        background: transparent;
        border: none;
        height: 100%;
        color: #fff; }

.cart-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 48px;
  line-height: 48px;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex; }
  .cart-footer .cart-total {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: right; }
    .cart-footer .cart-total .cart-total_number {
      font-size: 16px;
      color: #f50; }
  .cart-footer .settlement {
    margin-left: 12px; }
    .cart-footer .settlement button {
      display: block;
      width: 104px;
      color: #fff;
      background: #f50;
      border: none;
      height: 100%; }

.edit-quantity {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 40px;
  border: 1px solid #fff; }
  .edit-quantity .btn {
    width: 38px;
    border: none;
    background-color: transparent;
    font-size: 24px; }
  .edit-quantity .btn-value {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    width: 100%;
    border: none;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    text-align: center;
    background-color: transparent; }

.mall-filter-toolbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 40px;
  background-color: #fff; }
  .mall-filter-toolbar .filter-item {
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1; }
    .mall-filter-toolbar .filter-item span:after {
      display: block;
      background: url("../img/mall/jd-sprites.png") no-repeat;
      background-size: 200px 200px; }
  .mall-filter-toolbar .filter-drop-down span:after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 7px;
    background-position: -10px -109px;
    margin-left: 4px; }
  .mall-filter-toolbar .filter-drop-down.active span {
    color: #f15353; }
    .mall-filter-toolbar .filter-drop-down.active span:after {
      background-position: 0 -109px; }
  .mall-filter-toolbar .filter-sort-price span:after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 10px;
    background-position: -170px -30px;
    margin-left: 4px; }
  .mall-filter-toolbar .filter-sort-price.arrow-down span {
    color: #f15353; }
    .mall-filter-toolbar .filter-sort-price.arrow-down span:after {
      background-position: -170px -15px; }
  .mall-filter-toolbar .filter-sort-price.arrow-up span {
    color: #f15353; }
    .mall-filter-toolbar .filter-sort-price.arrow-up span:after {
      background-position: -170px 0; }

/*# sourceMappingURL=mall.css.map */
