<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <!--先定义所有的appender-->
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %c{1.} - %msg%n"/>
        </Console>
    </appenders>
    <!--然后定义logger，只有定义了logger并引入的appender，appender才会生效-->
    <loggers>
        <logger name="cn.lmjia.market" level="debug"/>

        <logger name="cn.lmjia.market.core.service.impl" level="trace"/>
        <logger name="cn.lmjia.market.core.trj.service" level="trace"/>
        <!--<logger name="org.apache.http.wire" level="debug"/>-->
        <!--<logger name="org.springframework.security.web" level="debug"/>-->

        <logger name="org.springframework.web" level="debug"/>
        <logger name="org.springframework.web.context.support.StandardServletEnvironment" level="info"/>
        <logger name="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" level="info"/>
        <logger name="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping" level="info"/>
        <logger name="org.springframework.web.servlet.resource.ResourceUrlProvider" level="info"/>

        <logger name="com.gargoylesoftware.htmlunit.DefaultCssErrorHandler" level="error"/>

        <!--建立一个默认的root的logger-->
        <root level="info">
            <appender-ref ref="Console"/>
        </root>

    </loggers>
</configuration>