<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>添加代理商</title>
    <!--第三方库-->
    <link rel="stylesheet" href="//cdn.lmjia.cn/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/city-picker/1.1.0/css/city-picker.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/webuploader/0.1.5/webuploader.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/datetimepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery.searchableSelect/jquery.searchableSelect.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/select2/4.0.3/css/select2.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/select2/4.0.3/css/select2-bootstrap.min.css">
    <!--重置库-->
    <link rel="stylesheet" href="//cdn.lmjia.cn/bracket/1.5/css/style.default.min.css">
    <link rel="stylesheet" href="dealer-resource/css/custom.css" th:href="@{/dealer-resource/css/custom.css}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//cdn.lmjia.cn/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//cdn.lmjia.cn/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="inner-document"
      data-upload-url="/market-manage/core-service/src/test/resources/mock/webUploader.json"
      th:data-upload-url="@{/resourceUpload/webUploader}"
      data-search-login-url="/market-manage/core-service/src/test/resources/mock/searchLogin.json"
      th:data-search-login-url="@{/loginData/select2}"
      data-search-agent-url="/market-manage/dealer/src/main/resources/dealer-view/mock/agentList.json"
      th:data-search-agent-url="@{/agentData/listRuling}"
      data-mobile-validation-url="/market-manage/core-service/src/test/resources/mock/mobileValidation.json"
      th:data-mobile-validation-url="@{/loginData/mobileValidation}">
<section>
    <div class="pageheader">
        <h2>
            <i class="fa fa-address-book-o"></i>
            <ol class="breadcrumb">
                <li><a class="J_menuItem" th:href="@{/agentManage}" href="agentManage.html">代理商管理</a></li>
                <li class="active">新增代理商</li>
            </ol>
        </h2>
    </div>
    <div class="contentpanel">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">新增代理商</h3>
                    </div>
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-7 col-lg-6">
                                    <form class="form-horizontal mb40" id="J_addAgentForm" method="post"
                                          th:action="@{/addAgent}">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">上级代理 <span class="asterisk">*</span></label>
                                            <div class="col-sm-6">
                                                <select class="form-control" name="superiorId" id="higherAgent"
                                                        title="请选择上级代理">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">代理商公司名称 <span class="asterisk">*</span></label>
                                            <div class="col-sm-3">
                                                <input type="text" placeholder="请输入代理级别"
                                                       class="form-control" name="rank"
                                                       value="测试" th:value="''">
                                            </div>
                                            <span class="col-sm-2 control-label text-left" id="rankSuffix"></span>
                                            <div class="col-sm-4 control-label">
                                                <div class="ckbox ckbox-success">
                                                    <input type="checkbox" id="J_customLevel">
                                                    <label for="J_customLevel">自定义代理等级</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group display-none" id="J_customLevelBox">
                                            <label class="col-sm-3 control-label">自定义代理等级 <span class="asterisk">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="text" placeholder="请输入自定义代理等级"
                                                       class="form-control" name="levelTitle"
                                                       value="总代理" th:value="''" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">负责人姓名 <span class="asterisk">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="text" placeholder="请输入负责人姓名"
                                                       class="form-control" name="agentName"
                                                       value="徐北方" th:value="''">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">首笔进货款 <span class="asterisk">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="text" placeholder="元"
                                                       class="form-control" name="firstPayment"
                                                       value="30000" th:value="''">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">代理费 <span class="asterisk">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="text" placeholder="元"
                                                       class="form-control" name="agencyFee"
                                                       value="30000" th:value="''">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">协议时间 <span class="asterisk">*</span></label>
                                            <div class="col-sm-6">
                                                <div class="row">
                                                    <div class="col-sm-5">
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="开始时间" id="beginDate" name="beginDate"
                                                               aria-controls="installTable"
                                                               value="2017-5-1" th:value="''">
                                                    </div>
                                                    <div class="display-inline text-center col-xs-12 col-sm-2 b-to-e">
                                                        <i></i>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="结束时间" id="endDate" name="endDate"
                                                               aria-controls="installTable" value="2018-5-1"
                                                               th:value="''">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="form-group">-->
                                        <!--<label class="col-sm-3 control-label">手机号</label>-->
                                        <!--<div class="col-sm-6">-->
                                        <!--<div class="input-group">-->
                                        <!--<input type="tel" class="form-control" placeholder="请输入手机号"-->
                                        <!--name="phone">-->
                                        <!--<span class="input-group-btn">-->
                                        <!--<button class="btn btn-success button-sendCode" type="button"-->
                                        <!--id="J_sendAuthCode" disabled>验证手机号</button>-->
                                        <!--</span>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">手机号 <span class="asterisk">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="text" placeholder="请输入手机号"
                                                       class="form-control" name="mobile" value="18829901010"
                                                       th:value="''">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">初始登录密码 <span class="asterisk">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="text" placeholder="6~12位，含大小写字母，数字，下换线"
                                                       class="form-control" name="password" value="123456">
                                            </div>
                                        </div>
                                        <!--<div class="form-group">-->
                                        <!--<label class="col-sm-3 control-label">分成比例</label>-->
                                        <!--<div class="col-sm-6">-->
                                        <!--<input type="text" placeholder="请输入分成比例"-->
                                        <!--class="form-control" name="proportion"-->
                                        <!--value="3%" readonly>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">推荐人 <span class="asterisk">*</span></label>
                                            <div class="col-sm-6">
                                                <select class="form-control select2-single" name="guideUser"
                                                        id="referrerPhone"
                                                        title="请选择推荐人">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">办公地址 <span class="asterisk">*</span></label>
                                            <div class="col-sm-6">
                                                <input class="form-control" id="J_cityPicker" readonly type="text"
                                                       data-responsive="true" data-toggle="city-picker"
                                                       data-simple="true" name="address">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="text" placeholder="详细地址" class="form-control"
                                                       name="fullAddress">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">添加身份证 <span class="asterisk">*</span></label>
                                            <div class="col-sm-6 img-wrap">
                                                <p class="form-control-static img-tips">个人信息面 （格式：3M以下的jpg、jpeg和png）</p>
                                                <input type="hidden" name="cardFrontPath"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-9 col-sm-offset-3">
                                                <div class="col-sm-6">
                                                    <div class="upload-container">
                                                        <div class="upload-default js-uploadFront">
                                                            <div class="js-uploadShow"></div>
                                                            <span class="has-error">
                                                                <i class="fa fa-exclamation" aria-hidden="true"></i>
                                                                <strong>请上传图片</strong>
                                                            </span>
                                                        </div>
                                                        <div id="J_uploadFront"></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="upload-demo-container">
                                                        <div class="upload-demo-front"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-6 col-sm-offset-3 img-wrap">
                                                <p class="form-control-static img-tips">国徽面 （格式：3M以下的jpg、jpeg和png）</p>
                                                <input type="hidden" name="cardBackPath"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-9 col-sm-offset-3">
                                                <div class="col-sm-6">
                                                    <div class="upload-container">
                                                        <div class="upload-default js-uploadBack">
                                                            <div class="js-uploadShow"></div>
                                                            <span class="has-error">
                                                                <i class="fa fa-exclamation" aria-hidden="true"></i>
                                                                <strong>请上传图片</strong>
                                                            </span>
                                                        </div>
                                                        <div id="J_uploadBack"></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="upload-demo-container">
                                                        <div class="upload-demo-back"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">添加营业执照（可选）</label>
                                            <div class="col-sm-6 img-wrap">
                                                <p class="form-control-static img-tips">营业执照（格式：3M以下的jpg、jpeg和png）</p>
                                                <input type="hidden" name="businessLicensePath"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-9 col-sm-offset-3">
                                                <div class="col-sm-6">
                                                    <div class="upload-container">
                                                        <div class="upload-default js-uploadLicense">
                                                            <div class="js-uploadShow"></div>
                                                            <span class="has-error">
                                                                <i class="fa fa-exclamation" aria-hidden="true"></i>
                                                                <strong>请上传图片</strong>
                                                            </span>
                                                        </div>
                                                        <div id="J_uploadLicense"></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="upload-demo-container">
                                                        <div class="upload-demo-license"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-6 col-sm-offset-3 control-label">
                                                <button type="submit" class="btn btn-success btn-block btn-lg"
                                                        id="J_submitBtn">
                                                    开通代理
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<script src="//cdn.lmjia.cn/jquery/1.12.4/jquery.js"></script>
<script src="//cdn.lmjia.cn/layer/3.0.3/layer.js"></script>
<script src="//cdn.lmjia.cn/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.lmjia.cn/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="//cdn.lmjia.cn/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="//cdn.lmjia.cn/city-picker/1.1.0/js/city-picker.data.min.js"></script>
<script src="//cdn.lmjia.cn/city-picker/1.1.0/js/city-picker.min.js"></script>
<script src="//cdn.lmjia.cn/jquery-validation/1.16.0/jquery.validate.min.js"></script>
<script src="//cdn.lmjia.cn/jquery-validation/1.16.0/localization/messages_zh.min.js"></script>
<script src="//cdn.lmjia.cn/webuploader/0.1.5/webuploader.min.js"></script>
<script src="//cdn.lmjia.cn/select2/4.0.3/js/select2.full.min.js"></script>
<script src="//cdn.lmjia.cn/select2/4.0.3/js/i18n/zh-CN.js"></script>
<script src="//cdn.lmjia.cn/jquery.searchableSelect/jquery.searchableSelect.js"></script>
<script th:inline="javascript">
    $.agentTitles = /*[[${@readService.titles()}]]*/  [
        "省总代", "市总代", "区县总代", "分代理", "经销商"
    ]
</script>
<script src="../../../../../../market-manage/web/src/main/webapp/assets/js/common/recommend.js"
        th:src="@{/assets/js/common/recommend.js}"></script>
<script src="dealer-resource/js/addAgent.js" th:src="@{/dealer-resource/js/addAgent.js}"></script>
</html>