<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="main-html">
<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<!--/*@thymesVar id="loginAs" type="java.lang.String"*/-->
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>代理商后台管理</title>
    <!--第三方库-->
    <link rel="stylesheet" href="//cdn.lmjia.cn/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--重置库-->
    <link rel="stylesheet" href="//cdn.lmjia.cn/bracket/1.5/css/style.default.min.css">
    <link rel="stylesheet" href="dealer-resource/css/custom.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//cdn.lmjia.cn/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//cdn.lmjia.cn/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="outer-document">
<section class="main-wrapper">
    <div class="leftpanel">
        <div class="logopanel">
            <h1><img class="logo" src="dealer-resource/images/logo.png" alt="LMJ利每家"></h1>
        </div>
        <div class="panel-logo-title">
            <h3><span>&#91;&nbsp;</span>
                <b th:text="${title}">经销商后台</b><span>&nbsp;&#93;</span></h3>
            <!--<h3><span>&#91;&nbsp;</span>区分代理后台<span>&nbsp;&#93;</span></h3>-->
            <!--<h3><span>&#91;&nbsp;</span>区总代理后台<span>&nbsp;&#93;</span></h3>-->
            <p><b th:text="${#authentication.name}">徐春风</b> 早上好</p>
        </div>
        <div class="leftpanelinner">
            <ul class="nav nav-pills nav-stacked nav-bracket js-navActive">
                <li class="divider"></li>
                <li class="active">
                    <a href="index.html" target="content"><i class="fa fa-home"></i> <span>首页</span></a>
                </li>
                <li class="divider"></li>
                <li>
                    <a th:href="@{/agentOrderManage}" href="orderManage.html" target="content"><i
                            class="fa fa-address-card-o"></i>
                        <span>用户订单</span></a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="logisticsManage.html" target="content"><i class="fa fa-truck"></i> <span>物流管理</span></a>
                </li>
                <li>
                    <a href="installManage.html" target="content"><i class="fa fa-cogs"></i> <span>安装管理</span></a>
                </li>
                <li>
                    <a href="afterSale.html" target="content"><i class="fa fa-wrench"></i> <span>退货及维修</span></a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="commission.html" target="content"><i class="fa fa-rmb"></i> <span>我的佣金</span></a>
                </li>
                <li class="divider"></li>
                <li>
                    <a th:href="@{/agentManage}"
                       href="agentManage.html" target="content"><i
                            class="fa fa-users"></i> <span>代理商管理</span></a>
                </li>
                <li>
                    <a href="userManage.html" target="content"><i class="fa fa-user"></i> <span>用户管理</span></a>
                </li>
                <li class="divider"></li>
            </ul>
        </div>
    </div>
    <div class="mainpanel">
        <div class="headerbar">
            <a class="menutoggle"><i class="fa fa-bars"></i></a>
            <div class="header-right">
                <ul class="headermenu">
                    <li class="user-info">
                        <p>你好，<span th:text="${#authentication.name}">徐粗放</span><i>【
                            <span th:text="${loginAs}">超级管理员</span>】</i></p>
                    </li>
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle tp-icon">
                                <a href="index.html" target="content">
                                    <i class="fa fa-envelope-o"></i>&nbsp;消息
                                    <span class="badge">2</span>
                                </a>
                            </button>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle tp-icon">
                                <i class="fa fa-power-off"></i>&nbsp;安全退出
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="content-main">
            <iframe id="content" name="content" width="100%" height="100%" frameborder="0" src="index.html">
            </iframe>
        </div>
    </div>
</section>
</body>
<script src="//cdn.lmjia.cn/jquery/1.12.4/jquery.js"></script>
<script src="//cdn.lmjia.cn/layer/3.0.3/layer.js"></script>
<script src="dealer-resource/js/main.js"></script>
</html>