<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="main-html">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>修改申请信息</title>
    <!--第三方库-->
    <link rel="stylesheet" href="//cdn.lmjia.cn/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/city-picker/1.1.0/css/city-picker.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/hplus/plugins/iCheck/1.0.2/custom.css">
    <!--重置库-->
    <link rel="stylesheet" href="./manage-resource/css/style.min.css">
    <link rel="stylesheet" href="./manage-resource/css/custom.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//cdn.lmjia.cn/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//cdn.lmjia.cn/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content gray-bg">
    <div class="ibox">
        <div class="ibox-content">
            <ol class="breadcrumb">
                <li><a href="_agentUpdate.html">升级合伙人申请</a></li>
                <li><strong>修改申请信息</strong></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    用户信息
                </div>
                <div class="ibox-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-7 col-lg-6">
                                <form class="form-horizontal" id="J_userForm" method="post"
                                      action="_agentUpdate.html">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">用户名 <span
                                                class="asterisk">*</span></label>
                                        <div class="col-sm-6">
                                            <input type="text" placeholder="请输入用户名" class="form-control"
                                                   name="name" value="嘻哈Boy"
                                                   required>
                                        </div>
                                    </div>
                                    <div  class="form-group">
                                        <label class="col-sm-3 control-label">级别</label>
                                        <div class="col-sm-6">
                                            <input type="text" placeholder="请输入级别" class="form-control"
                                                  value="爱心天使"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div  class="form-group">
                                        <label class="col-sm-3 control-label">升级到</label>
                                        <div class="col-sm-6">
                                            <input type="text" placeholder="请输入升级到级别" class="form-control"
                                                   value="经销商"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">安装地址</label>
                                        <div class="col-sm-6">
                                            <input class="form-control" id="J_cityPicker" readonly type="text"
                                                   data-responsive="true" data-toggle="city-picker"
                                                   data-simple="true" name="address"
                                                   value="浙江省/杭州市/滨江区">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="text" placeholder="详细地址" class="form-control"
                                                   name="fullAddress"
                                                   value="阡陌路智慧e谷A座1999号">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6 col-sm-offset-3 control-label">
                                            <button th:if="${manager==null}" type="submit"
                                                    class="btn btn-primary btn-block btn-lg">
                                                添&nbsp;加
                                            </button>
                                            <button th:if="${manager!=null}" type="submit"
                                                    class="btn btn-primary btn-block btn-lg">
                                                修&nbsp;改
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="//cdn.lmjia.cn/jquery/1.12.4/jquery.js"></script>
<script src="//cdn.lmjia.cn/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.lmjia.cn/hplus/plugins/iCheck/1.0.2/icheck.min.js"></script>
<script src="//cdn.lmjia.cn/jquery-validation/1.16.0/jquery.validate.min.js"></script>
<script src="//cdn.lmjia.cn/jquery-validation/1.16.0/localization/messages_zh.min.js"></script>
<script src="manage-resource/js/userDetail.js?v=1707122"></script>
</html>