<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="main-html">
<!--/*@thymesVar id="currentData" type="me.jiangcai.logistics.entity.StockShiftUnit"*/-->
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>物流详情</title>
    <!--第三方库-->
    <link rel="stylesheet" href="//cdn.lmjia.cn/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/dataTables/1.10.15/css/dataTables.bootstrap.min.css">
    <!--重置库-->
    <link rel="stylesheet" href="./manage-resource/css/style.min.css">
    <link rel="stylesheet" href="./manage-resource/css/custom.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//cdn.lmjia.cn/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//cdn.lmjia.cn/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="gray-bg"
      data-url="/storage/detail">
<div class="wrapper wrapper-content gray-bg">
    <div class="ibox">
        <div class="ibox-content">
            <ol class="breadcrumb">
                <li><a href="_logisticsManage.html" th:href="@{/manageLogistics}">物流管理</a></li>
                <li><strong>物流详情</strong></li>
            </ol>
        </div>
    </div>
    <div class="row" th:if="${false}">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="col-md-9">
                        <span class="label label-xlg label-danger">未发货</span>
                        <span class="label label-xlg label-warning">待收货</span>
                        <span class="label label-xlg label-success">已签收</span>
                    </div>
                    <div class="col-md-3">
                        <p class="text-right">操作员&nbsp;&nbsp;&nbsp;&nbsp;<strong class="view-operator">超级玛丽</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    物流信息
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="panel-package">
                        <div class="package-title">
                            <h3 class="title-text" th:text="${currentData.currentStatus}">您的包裹已被签收</h3>
                        </div>
                        <div class="package-status">
                            <div class="status-box">
                                <ul class="list-unstyled status-list">
                                    <li th:each="event:${currentData.events.values()}"
                                        th:classappend="${eventStat.last?'latest':'latest'}">
                                        <span class="date" th:text="${{event.time.toLocalDate()}}">2017-04-12</span>
                                        <span class="week" th:text="${{event.time.getDayOfWeek()}}">周三</span>
                                        <span class="time" th:text="${{event.time.toLocalTime()}}">13:26:46</span>
                                        <span class="text" th:text="${event.message}">您的订单开始处理</span>
                                    </li>
                                    <li th:remove="all">
                                        <span class="date invisible">2017-04-12</span>
                                        <span class="week invisible">周三</span>
                                        <span class="time">13:34:03</span>
                                        <span class="text">您的订单待配货</span>
                                    </li>
                                    <li th:remove="all">
                                        <span class="date invisible">2017-04-12</span>
                                        <span class="week invisible">周三</span>
                                        <span class="time">13:37:00</span>
                                        <span class="text">卖家发货</span>
                                    </li>
                                    <li th:remove="all">
                                        <span class="date">2017-04-13</span>
                                        <span class="week">周四</span>
                                        <span class="time">13:51:46</span>
                                        <span class="text">在山东烟台芝罘区三站公司进行揽件扫描</span>
                                    </li>
                                    <li th:remove="all">
                                        <span class="date invisible">2017-04-13</span>
                                        <span class="week invisible">周四</span>
                                        <span class="time">17:58:01</span>
                                        <span class="text">在山东烟台芝罘区三站公司进行下级地点扫描，即将发往：山东烟台分拨中心</span>
                                    </li>
                                    <li th:remove="all">
                                        <span class="date">2017-04-14</span>
                                        <span class="week">周五</span>
                                        <span class="time">17:01:30</span>
                                        <span class="text">在分拨中心山东烟台分拨中心进行称重扫描</span>
                                    </li>
                                    <li th:remove="all">
                                        <span class="date invisible">2017-04-14</span>
                                        <span class="week invisible">周五</span>
                                        <span class="time">20:43:47</span>
                                        <span class="text">在山东烟台分拨中心进行中转集包扫描，将发往：浙江萧山分拨中心</span>
                                    </li>
                                    <li th:remove="all">
                                        <span class="date invisible">2017-04-14</span>
                                        <span class="week invisible">周五</span>
                                        <span class="time">21:13:55</span>
                                        <span class="text">在山东烟台分拨中心进行装车扫描，即将发往：浙江杭州分拨中心</span>
                                    </li>
                                    <li th:remove="all">
                                        <span class="date">2017-04-15</span>
                                        <span class="week">周六</span>
                                        <span class="time">20:23:22</span>
                                        <span class="text">在分拨中心浙江杭州分拨中心进行卸车扫描</span>
                                    </li>
                                    <li th:remove="all">
                                        <span class="date invisible">2017-04-15</span>
                                        <span class="week invisible">周六</span>
                                        <span class="time">20:33:45</span>
                                        <span class="text">从浙江杭州分拨中心发出，本次转运目的地：浙江杭州滨江区公司</span>
                                    </li>
                                    <li th:remove="all">
                                        <span class="date invisible">2017-04-15</span>
                                        <span class="week invisible">周六</span>
                                        <span class="time">20:34:12</span>
                                        <span class="text">到达目的地网点浙江杭州滨江区公司，快件将很快进行派送</span>
                                    </li>
                                    <li th:remove="all">
                                        <span class="date">2017-04-16</span>
                                        <span class="week">周日</span>
                                        <span class="time">08:40:23</span>
                                        <span class="text">在浙江杭州滨江区公司进行派件扫描；派送业务员：韩建军；联系电话：15088757006</span>
                                    </li>
                                    <li th:remove="all">
                                        <span class="date invisible">2017-04-16</span>
                                        <span class="week invisible">周日</span>
                                        <span class="time">10:48:07</span>
                                        <span class="text">在浙江杭州滨江区公司进行签收扫描，快件已被 E邮站快递柜 签收</span>
                                    </li>
                                    <li th:remove="all">
                                        <span class="date invisible">2017-04-16</span>
                                        <span class="week invisible">周日</span>
                                        <span class="time">10:46:48</span>
                                        <span class="text">您的快件已被智慧E谷E邮站【自提柜】代收，请及时取件。有问题请联系派件员15088757006</span>
                                    </li>
                                    <li class="latest" th:remove="all">
                                        <span class="date">2017-04-17</span>
                                        <span class="week">周一</span>
                                        <span class="time">09:25:07</span>
                                        <span class="text">已签收，签收人凭取货码签收。感谢使用韵达快递及智慧E谷E邮站【自提柜】，期待再次为您服务。</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" th:if="${false}">
        <div class="col-sm-4">
            <div class="ibox">
                <div class="ibox-title">
                    收货信息
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <tbody>
                            <tr>
                                <td width="120px">收件人</td>
                                <td>李菲菲</td>
                            </tr>
                            <tr>
                                <td>手机号</td>
                                <td>18958044532</td>
                            </tr>
                            <tr>
                                <td>收货地址</td>
                                <td>浙江杭州西湖大西湖国际</td>
                            </tr>
                            <tr>
                                <td>订单时间</td>
                                <td>2017-09-09</td>
                            </tr>
                            <tr>
                                <td>订单号</td>
                                <td>20213XSD234</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox">
                <div class="ibox-title">
                    发货信息
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <tbody>
                            <tr>
                                <td width="120px">物流公司</td>
                                <td>日日顺</td>
                            </tr>
                            <tr>
                                <td>物流仓储</td>
                                <td>华东仓</td>
                            </tr>
                            <tr>
                                <td>发货后库存量</td>
                                <td>506台</td>
                            </tr>
                            <tr>
                                <td>发货时间</td>
                                <td>2017-09-09</td>
                            </tr>
                            <tr>
                                <td>订单号</td>
                                <td>20213XSD234</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox">
                <div class="ibox-title">
                    安装信息
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <tbody>
                            <tr>
                                <td width="120px">安装公司</td>
                                <td>海尔</td>
                            </tr>
                            <tr>
                                <td>安装人员</td>
                                <td>节星得</td>
                            </tr>
                            <tr>
                                <td>安装人员电话</td>
                                <td>18958044532</td>
                            </tr>
                            <tr>
                                <td>安装时间</td>
                                <td>2017-09-09</td>
                            </tr>
                            <tr>
                                <td>订单号</td>
                                <td>20213XSD234</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="//cdn.lmjia.cn/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.lmjia.cn/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="manage-resource/js/content.min.js"></script>
</html>