<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="main-html">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>用户订单</title>
    <!--第三方库-->
    <link rel="stylesheet" href="//cdn.lmjia.cn/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/dataTables/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css">
    <!--重置库-->
    <!--<link rel="stylesheet" href="//cdn.lmjia.cn/bracket/1.5/css/style.default.min.css">-->
    <link rel="stylesheet" href="manage-resource/css/style.min.css">
    <link rel="stylesheet" href="./manage-resource/css/custom.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//cdn.lmjia.cn/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//cdn.lmjia.cn/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body data-url="../../../../../../market-manage/dealer/src/main/resources/dealer-view/mock/orderData.json"
      th:data-url="@{/orderData/manageableList}" data-quick-url="/orderData/quickDone/" data-allow-mock-pay="true"
      th:data-allow-mock-pay="${@environment.acceptsProfiles('allowMockPay')}" data-allow-settlement="true">

<form id="detailForm" action="../../../../../../market-manage/dealer/src/main/resources/dealer-view/orderDetail.html"
      method="get">
    <input type="hidden" name="id" value=""/>
</form>
<section>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-md-12 mb10">
                <div class="form-inline">
                    <div class="js-selectToolbar">
                        <input type="search" class="form-control input-sm js-orderId" placeholder="订单编号" name="orderId"
                               aria-controls="orderTable">
                        <input type="search" class="form-control input-sm js-searchPhone" placeholder="手机号" name="phone"
                               aria-controls="orderTable">
                        <label>
                            <select class="form-control input-sm js-searchRank" name="goodId">
                                <option value=" " disabled="" selected="" class="hidden">商品类型</option>
                                <option value="0">全部</option>
                                <option value="1" data-deposit="3000" data-need-install="180" data-model="hzls01"
                                        data-type="净水机" th:each="good:${@mainGoodService.forSale()}"
                                        th:value="${good.id}"
                                        th:data-deposit="${good.product.deposit}"
                                        th:data-need-install="${good.product.install}"
                                        th:data-model="${good.product.code}"
                                        th:data-type="${good.id}" th:text="${good.product.name}"
                                        th:data-day-cost="${good.product.serviceCharge}">立式净水机
                                </option>
                                <option th:remove="all" value="2" data-deposit="3000" data-need-install="180"
                                        data-model="hzts02"
                                        data-type="净水机">台式净水机
                                </option>
                                <option th:remove="all" value="3" data-deposit="3000" data-need-install="180"
                                        data-model="hzcx01"
                                        data-type="净水机">橱下净水机
                                </option>
                                <option th:remove="all" value="5" data-deposit="5000" data-model="ESL-HM01"
                                        data-type="空气净化器">
                                    空气净化器
                                </option>
                                <option th:remove="all" value="6" data-deposit="10000" data-model="SP70"
                                        data-type="食品优化宝">
                                    食品优化宝
                                </option>
                            </select>
                        </label>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" placeholder="下单日期"
                                   id="datepicker" name="orderDate" aria-controls="orderTable">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm js-search">查询</button>
                        <button type="button" class="btn btn-primary btn-sm js-orderMaintain">订单状态维护</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs nav-dark js-orderStatus">
                    <li class="active">
                        <a href="#orderDatagrid" data-toggle="tab" data-status="0">
                            <strong>全部</strong>
                        </a>
                    </li>
                    <li>
                        <a href="#orderDatagrid" data-toggle="tab" data-status="6">
                            <strong>待派单</strong>
                        </a>
                    </li>
                    <li>
                        <a href="#orderDatagrid" data-toggle="tab" data-status="1">
                            <strong>待付款</strong>
                        </a>
                    </li>
                    <li>
                        <a href="#orderDatagrid" data-toggle="tab" data-status="2">
                            <strong>待发货</strong>
                        </a>
                    </li>
                    <li>
                        <a href="#orderDatagrid" data-toggle="tab" data-status="4">
                            <strong>待安装</strong>
                        </a>
                    </li>
                    <li>
                        <a href="#orderDatagrid" data-toggle="tab" data-status="5">
                            <strong>已安装</strong>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="orderDatagrid">
                        <div class="table-responsive">
                            <table id="orderTable" class="table table-hover table-success" cellspacing="0"
                                   width="100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<script src="//cdn.lmjia.cn/jquery/1.12.4/jquery.js"></script>
<script src="//cdn.lmjia.cn/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.lmjia.cn/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<script src="//cdn.lmjia.cn/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="//cdn.lmjia.cn/dataTables/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="//cdn.lmjia.cn/dataTables/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script src="//cdn.lmjia.cn/dataTables/1.10.15/extend/dataTables.zh-CN.js"></script>
<script th:src="@{/dealer-resource/js/orderManage.js}"
        src="../../../../../../market-manage/dealer/src/main/resources/dealer-view/dealer-resource/js/orderManage.js"></script>
<script th:src="@{/dealer-resource/js/main.js}"
        src="../../../../../../market-manage/dealer/src/main/resources/dealer-view/dealer-resource/js/main.js"></script>
<script>
    $(function () {
        $('.js-orderMaintain').click(function () {
            $.ajax(
                '/order/orderMaintain', {
                    method: 'put',
                    success: function () {
                        $._table.ajax.reload();
                    }
                }
            );
        });
    });
</script>
</html>