<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="main-html">
<!--/*@thymesVar id="currentData" type="cn.lmjia.market.core.entity.MainOrder"*/-->
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>订单详情</title>
    <!--第三方库-->
    <link rel="stylesheet" href="//cdn.lmjia.cn/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/dataTables/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/flatpickr/3.0.6/flatpickr.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/webuploader/0.1.5/webuploader.css">
    <!--重置库-->
    <link rel="stylesheet" href="./manage-resource/css/style.min.css">
    <link rel="stylesheet" href="./manage-resource/css/custom.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//cdn.lmjia.cn/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//cdn.lmjia.cn/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="gray-bg" data-url="/storage/detail" data-upload-url="/resourceUpload/webUploader">
<div class="wrapper-content">
    <div class="ibox">
        <div class="ibox-content">
            <ol class="breadcrumb">
                <li><a href="_orderManage.html" th:href="@{/orderManage}">订单管理</a></li>
                <li><strong>订单详情:<span th:text="${currentData.serialId}">20170910000210</span></strong></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox">
                <div class="ibox-title">
                    订单信息
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <tbody>
                            <tr>
                                <td width="120px">下单时间</td>
                                <td th:text="${{currentData.orderTime}}">2017-10-1 10:10</td>
                            </tr>
                            <tr>
                                <td>订单状态</td>
                                <td th:text="${currentData.orderStatus.toString()}">待付款</td>
                            </tr>
                            <tr>
                                <td>订单总金额</td>
                                <td th:text="${{currentData.orderDueAmountMoney}}">100.10</td>
                            </tr>
                            <tr>
                                <td>订单可分佣金额</td>
                                <td th:text="${{currentData.commissioningAmountMoney}}">10.1
                                    <span>
                                          <button id="findCommission">佣金明细</button>
                                        <a id="commissionDetail" href="_commissionDetail.html"
                                           th:href="@{'/orderDetail/Commission?orderId='+${currentData.id}}"></a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>下单人</td>
                                <td th:text="${@readService.nameForPrincipal(currentData.orderBy)}">李菲菲</td>
                            </tr>
                            <tr>
                                <td>下单人手机</td>
                                <td th:text="${@readService.mobileFor(currentData.orderBy)}">18958044532</td>
                            </tr>
                            <tr th:if="${currentData.payOrder != null}">
                                <td>第三方支付订单号</td>
                                <td th:text="${currentData.payOrder.platformId}">201700000929</td>
                            </tr>
                            <tr>
                                <td>收货人</td>
                                <td th:text="${currentData.customer.name}">都督</td>
                            </tr>
                            <tr>
                                <td>收货手机</td>
                                <td th:text="${currentData.customer.mobile}">18812340987</td>
                            </tr>
                            <tr>
                                <td>收货地址</td>
                                <td th:text="${{currentData.installAddress}}">浙江杭州西湖大西湖国际</td>
                            </tr>
                            <tr th:each="product:${currentData.amounts.entrySet()}">
                                <td rowspan="2" th:rowspan="${currentData.amounts.size()}" th:if="${productStat.first}">
                                    货品
                                    / 数量
                                </td>
                                <td><span th:text="${product.key.product.name}">量子立式净水机</span>&nbsp;/&nbsp;<span
                                        th:text="${product.value}">300</span>（<span
                                        th:text="${product.key.product.unit?:'个'}">台</span>）
                                </td>
                            </tr>
                            <tr th:remove="all">
                                <td>量子水宝 / 300（盒）</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--/*@thymesVar id="shipList" type="java.util.List<me.jiangcai.logistics.entity.StockShiftUnit>"*/-->
        <div class="col-sm-6">
            <div class="ibox">
                <div class="ibox-title">
                    物流信息
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <ul class="view-ship-list">
                        <li class="card-item" th:each="ship:${shipList}">
                            <a class="clearfix logisticsDetailLink" href="_logisticsDetail.html" th:data-id="${ship.id}"
                               th:href="@{/manageShiftDetail(id=${ship.id})}">
                                <div class="ship-item ship-time">
                                    <div class="hd">发货时间</div>
                                    <div class="bd" th:text="${{ship.createTime}}">2017-10-2 11:11</div>
                                </div>
                                <div class="ship-item ship-goods">
                                    <div class="hd">发货列表</div>
                                    <div class="bd">
                                        <div th:each="item:${ship.amounts}">
                                            <span th:text="${item.value.amount}">1</span>
                                            <span th:text="${item.key.unit?:'个'}">台</span>
                                            <span th:text="${item.key.name}">量子立式净水机</span>
                                        </div>
                                        <div th:remove="all"><span>1瓶量子立式净水机 </span></div>
                                    </div>
                                </div>
                                <div class="ship-item ship-status">
                                    <div class="hd">状态</div>
                                    <div class="bd" th:text="${ship.currentStatus.toString()}">已拒单</div>
                                </div>
                            </a>
                        </li>
                        <li class="card-item" th:remove="all">
                            <a class="clearfix" href="javascript:;">
                                <div class="ship-item ship-time">
                                    <div class="hd">发货时间</div>
                                    <div class="bd">2017-10-2 11:11</div>
                                </div>
                                <div class="ship-item ship-goods">
                                    <div class="hd">发货列表</div>
                                    <div class="bd">
                                        <div><span>1瓶量子立式净水机 </span></div>
                                        <div><span>1瓶量子立式净水机 </span></div>
                                    </div>
                                </div>
                                <div class="ship-item ship-status">
                                    <div class="hd">状态</div>
                                    <div class="bd">运递中</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row js-condition">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="col-md-12">
                        <div class="ivu-steps ivu-steps-horizontal ivu-item4">
                            <div th:each="timeLine:${currentData.simpleTimeLines}"
                                 class="ivu-steps-item"
                                 th:classappend="${timeLine.success?'ivu-steps-status-finish':(timeLine.wait?'ivu-steps-status-wait':'ivu-steps-status-process')}">
                                <div class="ivu-steps-tail"><i></i></div>
                                <div class="ivu-steps-head">
                                    <div class="ivu-steps-head-inner">
                                        <span th:if="${timeLine.success}" class="fa fa-check"></span>
                                        <span th:if="${!timeLine.success}" th:text="${timeLineStat.count}">1</span>
                                    </div>
                                </div>
                                <div class="ivu-steps-main">
                                    <div class="ivu-steps-title" th:text="${timeLine.topic}">初审核准码校验成功</div>
                                    <p th:if="${timeLine.temporal!=null}" class="ivu-steps-time"
                                       th:text="${{timeLine.temporal}}">2107-09-17 19:45</p>
                                </div>
                            </div>
                            <div th:remove="all" class="ivu-steps-item ivu-steps-status-finish">
                                <div class="ivu-steps-tail"><i></i></div>
                                <div class="ivu-steps-head">
                                    <div class="ivu-steps-head-inner">
                                        <!-- <span>2</span> -->
                                        <span class="fa fa-check"></span>
                                    </div>
                                </div>
                                <div class="ivu-steps-main">
                                    <div class="ivu-steps-title">物流配送及安装成功</div>
                                    <p class="ivu-steps-time">2107-09-17 19:45</p>
                                </div>
                            </div>
                            <div th:remove="all" class="ivu-steps-item ivu-steps-status-process">
                                <div class="ivu-steps-tail"><i></i></div>
                                <div class="ivu-steps-head">
                                    <div class="ivu-steps-head-inner"><span>3</span></div>
                                </div>
                                <div class="ivu-steps-main">
                                    <div class="ivu-steps-title">投融家审核信息中</div>
                                    <p class="ivu-steps-time">2107-09-17 19:45</p>
                                </div>
                            </div>
                            <div th:remove="all" class="ivu-steps-item ivu-steps-status-wait">
                                <div class="ivu-steps-tail"><i></i></div>
                                <div class="ivu-steps-head">
                                    <div class="ivu-steps-head-inner"><span>4</span></div>
                                </div>
                                <div class="ivu-steps-main">
                                    <div class="ivu-steps-title">设备费结算成功</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row js-condition">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    分期审核反馈处理
                </div>
                <div class="ibox-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="timeline">
                                    <div class="timeline-item">
                                        <div class="row">
                                            <div class="col-xs-3 date">
                                                <i class="fa fa-exclamation-triangle text-danger"></i>
                                                <span>2107-09-17 19:45</span>
                                            </div>
                                            <div class="col-xs-7 content">
                                                <p class="m-b-xs text-danger"><strong>分期审核反馈结果</strong></p>
                                                <p>安装信息不全</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline-item">
                                        <div class="row">
                                            <div class="col-xs-3 date">
                                                <i class="fa fa-exclamation-triangle text-danger"></i>
                                                <span>2107-09-17 19:45</span>
                                            </div>
                                            <div class="col-xs-7 content">
                                                <p class="m-b-xs text-danger"><strong>分期审核反馈结果</strong></p>
                                                <p>安装信息虚假</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <form class="form-horizontal" id="J_applyForm" method="post" action="_orderManage.html">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">安装人员 <span
                                                class="asterisk">*</span></label>
                                        <div class="col-sm-6">
                                            <input type="text" placeholder="请输入安装人员" class="form-control"
                                                   name="installer"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">安装公司 <span
                                                class="asterisk">*</span></label>
                                        <div class="col-sm-6">
                                            <input type="text" placeholder="请输入安装公司" class="form-control"
                                                   name="installCompany" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">安装人员手机 <span
                                                class="asterisk">*</span></label>
                                        <div class="col-sm-6">
                                            <input type="tel" placeholder="请输入安装人员手机" class="form-control" name="mobile"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">安装时间 <span
                                                class="asterisk">*</span></label>
                                        <div class="col-sm-6">
                                            <input type="text" placeholder="请输入安装时间" id="J_installDate"
                                                   class="form-control"
                                                   name="installDate" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">上传附件 <span
                                                class="asterisk">*</span></label>
                                        <div class="col-sm-6">
                                            <div id="J_upload"></div>
                                            <input type="hidden" name="applyFile"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6 col-sm-offset-3 control-label">
                                            <button type="submit" class="btn btn-primary btn-block btn-lg">重新申请信审
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="//cdn.lmjia.cn/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdn.lmjia.cn/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.lmjia.cn/layer/3.0.3/layer.js"></script>
<script src="//cdn.lmjia.cn/webuploader/0.1.5/webuploader.min.js"></script>
<script src="manage-resource/js/content.min.js"></script>
<script src="//cdn.lmjia.cn/flatpickr/3.0.6/flatpickr.min.js"></script>
<script src="//cdn.lmjia.cn/flatpickr/3.0.6/l10n/zh.js"></script>

<script src="mock/mock-min.js" th:remove="all"></script>
<script src="mock/api.js" th:remove="all"></script>

<script src="manage-resource/js/orderDetail.js"></script>
<script>
    $(function () {
        $('.js-condition').eq(1).hide();

        $('#findCommission').click(function(){
            $("#commissionDetail")[0].click();
        })
    });

</script>

</html>