<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:res="http://resource.jiangcai.me" lang="en" class="main-html">
<!--/*@thymesVar id="currentData" type="cn.lmjia.market.core.entity.MainProduct"*/-->
<!--/*@thymesVar id="productType" type="me.jiangcai.logistics.entity.ProductType"*/-->
<!--/*@thymesVar id="type" type="me.jiangcai.logistics.entity.ProductType"*/-->
<!--/*@thymesVar id="propertyName" type="me.jiangcai.logistics.entity.PropertyName"*/-->
<!--/*@thymesVar id="propertyValue" type="me.jiangcai.logistics.entity.PropertyValue"*/-->
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <title th:if="${currentData==null}">新增货品</title>
    <title th:if="${currentData!=null}">编辑货品</title>
    <!--第三方库-->
    <link rel="stylesheet" href="//cdn.lmjia.cn/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/city-picker/1.1.0/css/city-picker.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/hplus/plugins/iCheck/1.0.2/custom.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn//chosen/1.7.0/chosen.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/webuploader/0.1.5/webuploader.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/flatpickr/3.0.6/flatpickr.min.css">
    <!--重置库-->
    <link rel="stylesheet" href="./manage-resource/css/style.min.css">
    <link rel="stylesheet" href="./manage-resource/css/custom.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//cdn.lmjia.cn/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//cdn.lmjia.cn/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="gray-bg" data-upload-url="/resourceUpload/webUploader"
      th:attr="data-upload-url=@{/resourceUpload/webUploader}">
<div class="wrapper wrapper-content gray-bg">
    <div class="ibox">
        <div class="ibox-content">
            <ol class="breadcrumb">
                <li><a href="_productManage.html" th:href="@{/manageProduct}">货品管理</a></li>
                <li><strong th:if="${currentData==null}">新增货品</strong><strong th:if="${currentData!=null}">编辑货品</strong>
                </li>
            </ol>
        </div>
    </div>
    <form id="J_productForm" method="post"
          action="_productManage.html" th:action="@{/manageProductSubmit}">
        <input type="hidden" name="createNew" th:value="${currentData==null}"/>
        <input type="hidden" name="productType" th:if="${productType!=null}" th:value="${productType.id}"/>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        基本信息
                    </div>
                    <div class="ibox-content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">货品类型 </label>
                                            <div class="col-sm-6">
                                                <span class="form-control"
                                                      th:text="${currentData==null?productType.name:currentData.productType.name}">净水器</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">货品名称 <span
                                                    class="asterisk">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="text" placeholder="请输入货品名称" class="form-control"
                                                       name="productName"
                                                       th:value="${currentData!=null?currentData.name:''}"
                                                       th:readonly="${currentData!=null}" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">是否需要安装 </label>
                                            <div class="col-sm-6">
                                                <label class="checkbox-inline i-checks">
                                                    <input type="checkbox"
                                                           name="installation"
                                                           value="true"
                                                           th:checked="${currentData!=null?currentData.installation:false}"></label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">品牌 </label>
                                            <div class="col-sm-6">
                                                <input type="text" placeholder="请输入货品品牌" class="form-control"
                                                       name="productBrand"
                                                       th:value="${currentData!=null?currentData.brand:''}"
                                                >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">型号 <span
                                                    class="asterisk">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="text" placeholder="请输入型号" class="form-control"
                                                       name="type" th:value="${currentData!=null?currentData.code:''}"
                                                       th:readonly="${currentData!=null}" required maxlength="10">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">类目 </label>
                                            <div class="col-sm-6">
                                                <input type="text" placeholder="请输入货品类目" class="form-control"
                                                       name="mainCategory"
                                                       th:value="${currentData!=null?currentData.mainCategory:''}"
                                                >
                                            </div>
                                        </div>
                                        <!--<div class="form-group">-->
                                        <!--<label class="col-sm-3 control-label">厂家 <span-->
                                        <!--class="asterisk">*</span></label>-->
                                        <!--<div class="col-sm-6">-->
                                        <!--<input type="text" placeholder="请输入厂家" class="form-control"-->
                                        <!--name="supplier" required>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="form-group">-->
                                        <!--<label class="col-sm-3 control-label">厂家地址 <span-->
                                        <!--class="asterisk">*</span></label>-->
                                        <!--<div class="col-sm-6">-->
                                        <!--<input type="text" placeholder="请输入厂家地址" class="form-control"-->
                                        <!--name="address" required>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">计划售罄日期</label>
                                            <div class="col-sm-6">
                                                <div class="input-group" id="J_datePicker">
                                                    <input type="text" placeholder="日期"
                                                           class="form-control flatpickr-input"
                                                           data-input
                                                           name="planSellOutDate" value="2017-08-20"
                                                           th:value="${currentData!=null && currentData.planSellOutDate != null ?#temporals.format(currentData.planSellOutDate,'yyyy-MM-dd'):''}">
                                                    <a class="input-group-addon input-button " title="clear" data-clear>
                                                        <i class="glyphicon glyphicon-remove"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        货品图片
                    </div>
                    <div class="ibox-content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-horizontal J-property">
                                        <div class="form-group">
                                            <div class="col-sm-9 col-sm-offset-3">
                                                <div class="upload-container clearfix">
                                                    <div class="js-uploadShow view-upload-show pull-left">
                                                        <!--没有图片就没有-->
                                                        <img th:if="${currentData != null && currentData.mainImg != null}"
                                                             res:src="${currentData.mainImg}"
                                                             src="http://iph.href.lu/416x312?text=img3" alt="货品图片">
                                                    </div>
                                                    <div id="J_uploadProductImg"
                                                         class="view-upload-btn pull-left"></div>
                                                    <input type="hidden" name="productImgPath"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        货品属性
                    </div>
                    <div class="ibox-content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-horizontal J-property">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">SKU </label>
                                            <div class="col-sm-6">
                                                <input type="text" placeholder="请输入SKU" class="form-control"
                                                       name="SKU" th:value="${currentData!=null?currentData.SKU:''}"
                                                       th:readonly="${currentData!=null && currentData.SKU!=null}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">设备款（元） <span class="asterisk">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="number" placeholder="请输入货品单价" class="form-control"
                                                       name="productPrice" min="0"
                                                       th:value="${currentData!=null?currentData.deposit:''}"
                                                       required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">计量单位 </label>
                                            <div class="col-sm-6">
                                                <input type="text" placeholder="请输入单位" class="form-control"
                                                       name="unit" th:value="${currentData!=null?currentData.unit:''}"
                                                >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">尺寸（MM）</label>
                                            <div class="col-sm-3">
                                                <input type="number" placeholder="请输入长" class="form-control"
                                                       name="length"
                                                       th:value="${currentData!=null?currentData.volumeLength:''}"
                                                >
                                            </div>
                                            <div class="col-sm-3">
                                                <input type="number" placeholder="请输入宽" class="form-control"
                                                       name="width"
                                                       th:value="${currentData!=null?currentData.volumeWidth:''}"
                                                >
                                            </div>
                                            <div class="col-sm-3">
                                                <input type="number" placeholder="请输入高" class="form-control"
                                                       name="height"
                                                       th:value="${currentData!=null?currentData.volumeHeight:''}"
                                                >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">重量（G）</label>
                                            <div class="col-sm-6">
                                                <input type="number" placeholder="请输入重量" class="form-control"
                                                       name="weight" min="0"
                                                       th:value="${currentData!=null?currentData.weight:''}"
                                                >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">服务费（元）<span class="asterisk">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="number" placeholder="请输入服务费" class="form-control"
                                                       name="serviceCharge"
                                                       th:value="${currentData!=null?currentData.install:'0'}"
                                                       min="0" required>
                                            </div>
                                        </div>
                                        <input type="hidden" name="propertyNameValue"/>
                                        <div class="form-group J-property-more"
                                             th:each="propertyName:${currentData != null ? currentData.getNoSpecPropertyNameValues().keySet() : productType.getNoSpecPropertyNameList()}">
                                            <label class="col-sm-3 control-label">
                                                <th:block th:text="${propertyName.name}">保质期</th:block>
                                                <span th:if="${propertyName.required}" class="asterisk">*</span>
                                            </label>
                                            <div class="col-sm-6">
                                                <th:block th:if="${propertyName.type.name() == 'input'}">
                                                    <input name="propertyName" placeholder="请输入保质期"
                                                           th:placeholder="'请输入' + ${propertyName.name}"
                                                           class="form-control"
                                                           th:attr="data-propertyNameId=${propertyName.id}"
                                                           data-propertyNameId="1"
                                                           th:name="'propertyName[' + ${propertyName.id} + ']'"
                                                           th:value="${currentData != null && currentData.propertyNameValues != null ? currentData.propertyNameValues.get(propertyName) :''}"
                                                           th:required="${propertyName.required}"/>
                                                </th:block>
                                                <th:block th:if="${propertyName.type.name() == 'select'}">
                                                    <select class="form-control" name="propertyName"
                                                            th:required="${propertyName.required}"
                                                            th:name="'propertyName[' + ${propertyName.id} + ']'"
                                                            th:attr="data-propertyNameId=${propertyName.id}"
                                                            data-propertyNameId="2">
                                                        <option value="1年"
                                                                th:each="propertyValue:${currentData != null ? currentData.productType.getPropertyValueByPropertyName(propertyName) : productType.getPropertyValueByPropertyName(propertyName)}"
                                                                th:selected="${currentData != null && currentData.propertyNameValues != null  ? propertyValue.equals(currentData.propertyNameValues.get(propertyName)) : 'false'}"
                                                                th:value="${propertyValue.value}"
                                                                th:text="${propertyValue.value}">1年
                                                        </option>
                                                    </select>
                                                </th:block>
                                            </div>
                                        </div>
                                        <!--<div class="form-group">-->
                                        <!--<label class="col-sm-3 control-label">安装费（元）</label>-->
                                        <!--<div class="col-sm-6">-->
                                        <!--<input type="number" placeholder="请输入安装费" class="form-control"-->
                                        <!--name="installFee" min="0">-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="form-group">-->
                                        <!--<label class="col-sm-3 control-label">货品图片</label>-->
                                        <!--<div class="col-sm-6">-->
                                        <!--<p class="form-control-static">支持上传多图，并且可以设置主图</p>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="form-group">-->
                                        <!--<label class="col-sm-3 control-label">货品颜色</label>-->
                                        <!--<div class="col-sm-6">-->
                                        <!--<label class="checkbox-inline i-checks">-->
                                        <!--<input type="checkbox" name="productColor[]" value="white" checked>白色</label>-->
                                        <!--<label class="checkbox-inline i-checks">-->
                                        <!--<input type="checkbox" name="productColor[]"-->
                                        <!--value="black">黑色</label>-->
                                        <!--<label class="checkbox-inline i-checks">-->
                                        <!--<input type="checkbox" name="productColor[]"-->
                                        <!--value="golden">金色</label>-->
                                        <!--<label class="checkbox-inline i-checks">-->
                                        <!--<input type="checkbox" name="productColor[]" value="gray">灰色</label>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        货品规格
                    </div>
                    <div class="ibox-content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-horizontal J-spec">
                                        <div class="form-group J-spec-more"
                                             th:each="propertyName:${currentData != null ? currentData.productType.getSpecPropertyNameList() : productType.getSpecPropertyNameList()}">
                                            <label class="col-sm-3 control-label">
                                                <th:block th:text="${propertyName.name}">保质期</th:block>
                                                <span th:if="${propertyName.required}" class="asterisk">*</span>
                                            </label>
                                            <div class="col-sm-6">
                                                <select class="form-control" name="propertyName"
                                                        th:required="${propertyName.required}"
                                                        th:name="'propertyName[' + ${propertyName.id} + ']'"
                                                        th:attr="data-propertyNameId=${propertyName.id}"
                                                        data-propertyNameId="3">
                                                    <option value="1年"
                                                            th:each="propertyValue:${currentData != null ? currentData.productType.getPropertyValueByPropertyName(propertyName) : productType.getPropertyValueByPropertyName(propertyName)}"
                                                            th:selected="${currentData != null && currentData.propertyNameValues != null ? propertyValue.equals(currentData.propertyNameValues.get(propertyName)) : 'false'}"
                                                            th:value="${propertyValue.value}"
                                                            th:text="${propertyValue.value}">1年
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        详细信息
                    </div>
                    <div class="ibox-content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">货品简介 </label>
                                            <div class="col-sm-9">
                                                <textarea class="form-control" rows="3" placeholder="请输入货品简介"
                                                          name="productSummary"
                                                          th:text="${currentData!=null?currentData.description:''}"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">货品详情 </label>
                                            <div class="col-sm-9">
                                                <textarea class="form-control editor" rows="3" name="productDetail"
                                                          title="详情"
                                                          th:utext="${currentData!=null?currentData.richDescription:''}"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-6 col-sm-offset-3 control-label">
                                                <button th:if="${currentData==null}" type="submit"
                                                        class="btn btn-primary btn-block btn-lg">
                                                    添&nbsp;加
                                                </button>
                                                <button th:if="${currentData!=null}" type="submit"
                                                        class="btn btn-primary btn-block btn-lg">
                                                    修&nbsp;改
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
</body>
<script src="//cdn.lmjia.cn/jquery/1.12.4/jquery.js"></script>
<script src="//cdn.lmjia.cn/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.lmjia.cn/layer/3.0.3/layer.js"></script>
<script src="//cdn.lmjia.cn/hplus/plugins/iCheck/1.0.2/icheck.min.js"></script>
<script src="//cdn.lmjia.cn/jquery-validation/1.16.0/jquery.validate.min.js"></script>
<script src="//cdn.lmjia.cn/jquery-validation/1.16.0/localization/messages_zh.min.js"></script>
<script src="//cdn.lmjia.cn/chosen/1.7.0/chosen.jquery.min.js"></script>
<script src="//cdn.lmjia.cn/webuploader/0.1.5/webuploader.min.js"></script>
<script src="//cdn.lmjia.cn/flatpickr/3.0.6/flatpickr.min.js"></script>
<script src="//cdn.lmjia.cn/flatpickr/3.0.6/l10n/zh.js"></script>
<script src="manage-resource/js/content.min.js"></script>

<script src="mock/mock-min.js" th:remove="all"></script>
<script src="mock/api.js" th:remove="all"></script>

<script src="//editor.kuanyes.com/ckeditor.js"></script>
<script src="manage-resource/js/productAdd.js"></script>
</html>