<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="currentData" type="cn.lmjia.market.core.entity.MainProduct"*/-->
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>货品详情</title>
    <!--第三方库-->
    <link rel="stylesheet" href="//cdn.lmjia.cn/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--重置库-->
    <link rel="stylesheet" href="./manage-resource/css/style.min.css">
    <link rel="stylesheet" href="./manage-resource/css/custom.css">
    <!--[if lt IE 9]>
    <script src="//cdn.lmjia.cn/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//cdn.lmjia.cn/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-content">
            <ol class="breadcrumb">
                <li><a href="_productManage.html" th:href="@{/manageProduct}">货品管理</a></li>
                <li><strong>货品详情</strong></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    货品信息
                    <div class="ibox-tools">
                        <a class="btn btn-primary btn-sm" href="_productOperate.html"
                           th:href="@{/manageProductEdit(code=${currentData.code})}">
                            <i class="fa fa fa-pencil-square-o"></i>&nbsp;修改
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive" th:object="${currentData}">
                        <table class="table table-hover table-bordered">
                            <tbody>
                            <tr>
                                <td width="120px">货品</td>
                                <td th:text="*{name}">尼维柯立式净水机</td>
                            </tr>
                            <tr>
                                <td width="120px">货品类型</td>
                                <td th:text="*{productType.name}">尼维柯立式净水机</td>
                            </tr>
                            <tr>
                                <td>品类</td>
                                <td th:text="*{mainCategory}">净水机</td>
                            </tr>
                            <tr>
                                <td>型号</td>
                                <td th:text="*{code}">CRP-2000LK-L</td>
                            </tr>
                            <tr>
                                <td>设备款（元）</td>
                                <td th:text="*{{depositMoney}}">400.00</td>
                            </tr>
                            <tr>
                                <td>服务费（元）</td>
                                <td th:text="*{{install}}">3000</td>
                            </tr>
                            <tr>
                                <td>添加时间</td>
                                <td th:text="*{{createTime}}">2017-09-09</td>
                            </tr>
                            <tr th:each="properyName:${currentData.propertyNameValues.keySet()}">
                                <td th:text="${properyName.name}">属性1</td>
                                <td th:text="${currentData.propertyNameValues.get(properyName)}">属性值</td>
                            </tr>
                            </tbody>
                        </table>
                        <!--<table class="table table-hover table-bordered">-->
                        <!--<tbody>-->
                        <!--<tr>-->
                        <!--<td width="120px">分期期数</td>-->
                        <!--<td>3期、6期、12期</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                        <!--<td>分期货品</td>-->
                        <!--<td>花呗</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                        <!--</table>-->
                        <div class="clearfix product-textarea">
                            <div class="pull-left text-center product-textarea-hd">
                                货品详情
                            </div>
                            <div class="pull-left product-textarea-bd" th:utext="*{richDescription}">
                                <p>肤白貌美！肤白貌美!肤白貌美!</p>
                                <p>肤白貌美！</p>
                                <p>肤白貌美！</p>
                                <p>肤白貌美！</p>
                                <p>肤白貌美！</p>
                                <p>肤白貌美！</p>
                                <p>肤白貌美！</p>
                                <p>肤白貌美！</p>
                                <p>肤白貌美！</p>
                                <p>肤白貌美！</p>
                                <p>肤白貌美！</p>
                                <p>肤白貌美！</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>