@brand-success: #009bb6;
.view-bg-color {
  background-color: #fbf9fe;
}
.view-mb-20 {
  margin-bottom: 20px;
}
.header_wrap {
  padding: 35px 0;
  .header_wrap-title {
    text-align: center;
    font-size: 34px;
    color: #3cc51f;
    font-weight: 400;
    margin: 0 15%;
  }
}
.view_body {
  padding-bottom: 40px;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}

.view_panel-body {
  position: relative;
  padding: 15px 20px 15px 20px;
  &:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    z-index: 2;
  }
}

.text-big {
  font-size: 24px;
}

.text-error {
  color: #f43530;
}
.text-primary {
  color: #10aeff;
}
.text-warn {
  color: #ffbe00;
}
.text-success {
  color: #0bb20c;
}
.text-alignment_team {
  height: 38px;
  line-height: 38px;
}
.view_team-list {

  .weui-flex__item {
    padding: 6px 0;
    text-align: center;
    color: #333;
  }
  .view_team-header {
    .weui-flex__item {
      background-color: rgba(242, 242, 242, 1);
      color: #949494;
    }
  }
  .view_flex-2 {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    flex: 2;
  }
}
.view-cells_inline {
  .weui-cell {
    &:first-of-type {
      padding-left: 0;
    }
    float: left;
    &:before {
      border-top: none;
    }
  }
}
.unit-txt {
  font-size: 12px;
}
.view-form-preview-ex {
  position: relative;
  padding: 6px 15px;
  line-height: 2em;
  &:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
  }
  .weui-form-preview__value {
    float: left;
    font-size: .9em;
    color: #333;
  }
  .weui-form-preview__label {
    float: right;
    margin-right: 0;
    text-align: center;
    text-align-last: right;
  }
}
.view_pb-more {
  padding-bottom: 70px;
}
.view_footer-fixed {
  .weui-footer_fixed-bottom {
    border-top: 1px solid #d5d5d6;
    background-color: #fff;
    bottom: 0;
  }
  .weui-btn {
    color: #fff;
  }
  .weui-btn-area {
    margin: 15px;
  }
}