<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>维护 - 微信管理平台</title>

    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/lib/weui.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/css/jquery-weui.min.css">

    <link rel="stylesheet" href="../assets/css/custom.css">
</head>
<body class="view-bg-color view-fs-small">
<section class="view_body">
    <form>
        <div class="weui-cells__title">维护 <a href="maintainRecord.html" class="weui-cell_link">维护记录</a></div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">机器ID号</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="请输入机器ID号" name="machineId" value="12121212" readonly>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">姓名</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="请输入姓名" name="name" value="刘德华" readonly>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">手机号码</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="tel" placeholder="输入手机号码" name="phone" value="15899884457" readonly>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label for="J_maintainTime" class="weui-label">预约时间</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" id="J_maintainTime" type="text" placeholder="输入选择预约时间">
                </div>
            </div>
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label class="weui-label">维护内容</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="maintainType">
                        <option value="1">更换滤芯</option>
                        <option value="2">更换机器</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="weui-btn-area">
            <button type="submit" class="weui-btn weui-btn_custom">提&nbsp;&nbsp;交</button>
        </div>
    </form>
</section>
<footer>
    <div class="weui-footer weui-footer_fixed-bottom">
        <p class="weui-footer__text weui-footer__links">客服电话 <a href="tel:400-0895558">400-0895558</a></p>
    </div>
</footer>
</body>
<script src="//cdn.lmjia.cn/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.lmjia.cn/moment.js/2.18.1/moment.min.js"></script>
<script src="//cdn.lmjia.cn/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
<script src="../assets/js/equipment.js"></script>
</html>