<!DOCTYPE html>
<html lang="en" class="infinite">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>我的团队 - 微信管理平台</title>

    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/lib/weui.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/css/jquery-weui.min.css">

    <link rel="stylesheet" href="../assets/css/custom.css">
</head>
<body class="view-fs-small">
<section class="view_body">
    <div class="weui-cells__title js-extra-h">我的团队</div>
    <div class="view_team-logo js-extra-h"></div>
    <div class="weui-flex view_panel-body js-extra-h">
        <div class="weui-flex__item">
            <p>成功推荐&nbsp;<strong class="text-big text-error">29</strong>&nbsp;个用户</p>
        </div>
        <div>
            <p class="text-custom text-alignment_team" id="J_upgradeRules">升级规则</p>
        </div>
    </div>
    <div class="view_team-list">
        <div class="weui-flex view_team-header js-extra-h">
            <div class="weui-flex__item">用户</div>
            <div class="weui-flex__item">级别</div>
            <div class="weui-flex__item view_flex-2">加入时间</div>
            <div class="weui-flex__item view_flex-2">手机号码</div>
        </div>
        <!--team-list-start-->
        <div class="view-infinite-wrap" id="J_teamList" data-loading="0">
            <div class="weui-flex">
                <div class="weui-flex__item">夏洋</div>
                <div class="weui-flex__item">爱心天使</div>
                <div class="weui-flex__item view_flex-2">2016-04-30</div>
                <div class="weui-flex__item view_flex-2">13560367944</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">毛磊</div>
                <div class="weui-flex__item">分代理</div>
                <div class="weui-flex__item view_flex-2">2016-03-11</div>
                <div class="weui-flex__item view_flex-2">13231843768</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">沈刚</div>
                <div class="weui-flex__item">爱心天使</div>
                <div class="weui-flex__item view_flex-2">2016-05-11</div>
                <div class="weui-flex__item view_flex-2">13146342323</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">于杰</div>
                <div class="weui-flex__item">爱心天使</div>
                <div class="weui-flex__item view_flex-2">2016-03-11</div>
                <div class="weui-flex__item view_flex-2">14162222827</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">李艾</div>
                <div class="weui-flex__item">爱心天使</div>
                <div class="weui-flex__item view_flex-2">2016-03-11</div>
                <div class="weui-flex__item view_flex-2">13664526439</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">董超</div>
                <div class="weui-flex__item">经销商</div>
                <div class="weui-flex__item view_flex-2">2016-03-11</div>
                <div class="weui-flex__item view_flex-2">13664567439</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">方新</div>
                <div class="weui-flex__item">经销商</div>
                <div class="weui-flex__item view_flex-2">2016-05-11</div>
                <div class="weui-flex__item view_flex-2">15664526439</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">刘立伟</div>
                <div class="weui-flex__item">分代理</div>
                <div class="weui-flex__item view_flex-2">2016-03-11</div>
                <div class="weui-flex__item view_flex-2">13672438676</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">段勇</div>
                <div class="weui-flex__item">经销商</div>
                <div class="weui-flex__item view_flex-2">2016-03-11</div>
                <div class="weui-flex__item view_flex-2">13672438676</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">丁丽</div>
                <div class="weui-flex__item">经销商</div>
                <div class="weui-flex__item view_flex-2">2016-05-11</div>
                <div class="weui-flex__item view_flex-2">14260616089</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">赵勇</div>
                <div class="weui-flex__item">经销商</div>
                <div class="weui-flex__item view_flex-2">2016-03-05</div>
                <div class="weui-flex__item view_flex-2">13317732922</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">常鸿飞</div>
                <div class="weui-flex__item">爱心天使</div>
                <div class="weui-flex__item view_flex-2">2016-05-11</div>
                <div class="weui-flex__item view_flex-2">14310137348</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">李静</div>
                <div class="weui-flex__item">爱心天使</div>
                <div class="weui-flex__item view_flex-2">2016-03-11</div>
                <div class="weui-flex__item view_flex-2">13659833461</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">赵天龙</div>
                <div class="weui-flex__item">爱心天使</div>
                <div class="weui-flex__item view_flex-2">2016-03-05</div>
                <div class="weui-flex__item view_flex-2">15334611186</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">何俊杰</div>
                <div class="weui-flex__item">爱心天使</div>
                <div class="weui-flex__item view_flex-2">2016-05-11</div>
                <div class="weui-flex__item view_flex-2">13659833461</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">刘胡兰</div>
                <div class="weui-flex__item">爱心天使</div>
                <div class="weui-flex__item view_flex-2">2016-07-11</div>
                <div class="weui-flex__item view_flex-2">14565408271</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">天无</div>
                <div class="weui-flex__item">经销商</div>
                <div class="weui-flex__item view_flex-2">2016-05-05</div>
                <div class="weui-flex__item view_flex-2">13843713865</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">刘显然</div>
                <div class="weui-flex__item">经销商</div>
                <div class="weui-flex__item view_flex-2">2016-11-11</div>
                <div class="weui-flex__item view_flex-2">16709003451</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">小李</div>
                <div class="weui-flex__item">经销商</div>
                <div class="weui-flex__item view_flex-2">2016-11-11</div>
                <div class="weui-flex__item view_flex-2">14035469575</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">周世伟</div>
                <div class="weui-flex__item">经销商</div>
                <div class="weui-flex__item view_flex-2">2016-03-11</div>
                <div class="weui-flex__item view_flex-2">18566534295</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">田阳</div>
                <div class="weui-flex__item">经销商</div>
                <div class="weui-flex__item view_flex-2">2016-03-11</div>
                <div class="weui-flex__item view_flex-2">14509003451</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">张智慧</div>
                <div class="weui-flex__item">经销商</div>
                <div class="weui-flex__item view_flex-2">2016-11-11</div>
                <div class="weui-flex__item view_flex-2">13383546746</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">柳下达</div>
                <div class="weui-flex__item">爱心天使</div>
                <div class="weui-flex__item view_flex-2">2016-03-11</div>
                <div class="weui-flex__item view_flex-2">13285047724</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">何物</div>
                <div class="weui-flex__item">爱心天使</div>
                <div class="weui-flex__item view_flex-2">2016-11-07</div>
                <div class="weui-flex__item view_flex-2">14946158490</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">朱亮</div>
                <div class="weui-flex__item">爱心天使</div>
                <div class="weui-flex__item view_flex-2">2016-03-11</div>
                <div class="weui-flex__item view_flex-2">13474542404</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">谢峰</div>
                <div class="weui-flex__item">爱心天使</div>
                <div class="weui-flex__item view_flex-2">2016-07-11</div>
                <div class="weui-flex__item view_flex-2">15903903451</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">罗桂英</div>
                <div class="weui-flex__item">爱心天使</div>
                <div class="weui-flex__item view_flex-2">2016-03-11</div>
                <div class="weui-flex__item view_flex-2">13474542404</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">史杰</div>
                <div class="weui-flex__item">经销商</div>
                <div class="weui-flex__item view_flex-2">2016-03-01</div>
                <div class="weui-flex__item view_flex-2">13138207131</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">苏娟</div>
                <div class="weui-flex__item">经销商</div>
                <div class="weui-flex__item view_flex-2">2016-03-11</div>
                <div class="weui-flex__item view_flex-2">13146871634</div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">邹勇</div>
                <div class="weui-flex__item">经销商</div>
                <div class="weui-flex__item view_flex-2">2016-01-11</div>
                <div class="weui-flex__item view_flex-2">14946158490</div>
            </div>
            <div class="weui-loadmore">
                <i class="weui-loading"></i>
                <span class="weui-loadmore__tips">玩了命的加载中...</span>
            </div>
        </div>
    </div>
</section>
</body>
<script src="//cdn.lmjia.cn/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.lmjia.cn/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
<!--生产环境请移除 Begin-->
<script src="../mock/mock-min.js"></script>
<script src="../mock/api.js"></script>
<!--生产环境请移除 End-->

<script src="../assets/js/myTeam.js"></script>
</html>