<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>我的下单 - 微信管理平台</title>

    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/lib/weui.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/css/jquery-weui.min.css">

    <link rel="stylesheet" href="../assets/css/custom.css">
</head>
<body class="view-bg-color view-fs-small">
<section class="view_body">
    <form action="orderSuccess.html">
        <div class="weui-cells__title">我要下单</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">姓名</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="请输入客户姓名" name="customer">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">年龄</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" min="1" placeholder="请输入年龄" name="age">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">性别</label>
                </div>
                <div class="weui-cell__bd weui-cells_checkbox view-cells_inline">
                    <label class="weui-cell weui-check__label" for="isMan">
                        <div class="weui-cell__hd">
                            <input type="radio" class="weui-check" name="sex" id="isMan" checked="checked"
                                   value="man">
                            <i class="weui-icon-checked"></i>
                        </div>
                        <div class="weui-cell__bd">
                            <p>男</p>
                        </div>
                    </label>
                    <label class="weui-cell weui-check__label " for="isFemale">
                        <div class="weui-cell__hd">
                            <input type="radio" class="weui-check" name="sex" id="isFemale" value="female">
                            <i class="weui-icon-checked"></i>
                        </div>
                        <div class="weui-cell__bd">
                            <p>女</p>
                        </div>
                    </label>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">安装地址</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" id="J_cityPicker" value="浙江省 杭州市 滨江区" name="address"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label"></label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="请输入详细地址" name="fullAddress">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">用户电话</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="tel" placeholder="请输入电话" name="phone">
                </div>
            </div>
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label class="weui-label">产品类型</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="goodsType" id="J_goodsType">
                        <option value="1" data-deposit="3000" data-need-install="180" data-model="hzls01"
                                data-type="净水机">立式净水机
                        </option>
                        <option value="2" data-deposit="3000" data-need-install="180" data-model="hzts02"
                                data-type="净水机">台式净水机
                        </option>
                        <option value="3" data-deposit="3000" data-need-install="180" data-model="hzcx01"
                                data-type="净水机">橱下净水机
                        </option>
                        <option value="5" data-deposit="5000" data-model="ESL-HM01" data-type="空气净化器">空气净化器</option>
                        <option value="6" data-deposit="10000" data-model="SP70" data-type="食品优化宝">食品优化宝</option>
                    </select>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">租用机型</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="请输入租用机型" name="leasedType"
                           id="J_leasedType" value="hzls01" readonly>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">数量</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" placeholder="请输入数量" min="0" name="amount"
                           id="J_goodsAmount">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">套餐选择</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" name="package" value="3年收费" disabled>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">活动码</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" name="activityCode" placeholder="请输入活动码">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">推荐人</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="tel" name="reference" placeholder="推荐人手机号">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">用户保证金</label>
                </div>
                <div class="weui-cell__bd">
                    <p class="weui-input" id="J_userDeposit">
                        <span>3000</span>
                        <span class="unit-txt">元 / 台</span>
                    </p>
                </div>
            </div>
            <div class="weui-cell js-install">
                <div class="weui-cell__hd">
                    <label class="weui-label">初装费用</label>
                </div>
                <div class="weui-cell__bd">
                    <p class="weui-input" id="J_installationCost">
                        <span>180</span>
                        <span class="unit-txt">元 / 台</span>
                    </p>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">订单总金额</label>
                </div>
                <div class="weui-cell__bd">
                    <p class="weui-input text-big" id="J_orderTotal">
                        <strong>0</strong>
                        <span class="unit-txt">元</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="weui-btn-area">
            <button type="submit" class="weui-btn weui-btn_custom">下&nbsp;&nbsp;单</button>
        </div>
        <!--<div class="weui-btn-area" th:remove="all">-->
            <!--<a href="orderSuccess.html" class="weui-btn weui-btn_primary">（测试）下单成功</a>-->
        <!--</div>-->
        <!--<div class="weui-btn-area" th:remove="all">-->
            <!--<a href="orderFail.html" class="weui-btn weui-btn_warn">（测试）下单失败</a>-->
        <!--</div>-->
    </form>
</section>
</body>
<script src="//cdn.lmjia.cn/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.lmjia.cn/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
<script src="//cdn.lmjia.cn/jquery-weui/1.0.1/js/city-picker.min.js"></script>
<script src="../assets/js/orderPlace.js"></script>
</html>