<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>订单列表 - 微信管理平台</title>

    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/lib/weui.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/css/jquery-weui.min.css">

    <link rel="stylesheet" href="../assets/css/custom.css">
</head>
<body class="view-bg-color view-fs-small">
<section class="view_body view_pb-more">
    <div class="weui-cells__title">我的列表</div>
    <div class="weui-form-preview view-mb-20">
        <div class="view-form-preview-ex">
            <div class="weui-form-preview__item">
                <p class="weui-form-preview__value">订单时间：2017-12-12 12:12 </p>
                <label class="weui-form-preview__label text-success">成功</label>
            </div>
        </div>
        <div class="weui-form-preview__hd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">付款金额</label>
                <em class="weui-form-preview__value">¥3000.00</em>
            </div>
        </div>
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">用户</label>
                <span class="weui-form-preview__value">李菲菲</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">手机号</label>
                <span class="weui-form-preview__value">189****4566</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">商品</label>
                <span class="weui-form-preview__value">饮水机

u56立式</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">数量</label>
                <span class="weui-form-preview__value">x1</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">套餐情况</label>
                <span class="weui-form-preview__value">3年收费 剩余730天</span>
            </div>
        </div>
        <div class="weui-form-preview__ft view_form-button-group">
            <div class="button_sp_area">
                <a href="orderDetail.html" class="weui-btn weui-btn_mini weui-btn_default">详情</a>
                <a href="logistics.html" class="weui-btn weui-btn_mini weui-btn_default">查看物流</a>
            </div>
        </div>
    </div>
    <div class="weui-form-preview view-mb-20">
        <div class="view-form-preview-ex">
            <div class="weui-form-preview__item">
                <p class="weui-form-preview__value">订单时间：2017-12-12 12:12 </p>
                <label class="weui-form-preview__label text-primary">已出库</label>
            </div>
        </div>
        <div class="weui-form-preview__hd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">付款金额</label>
                <em class="weui-form-preview__value">¥3000.00</em>
            </div>
        </div>
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">用户</label>
                <span class="weui-form-preview__value">李菲菲</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">手机号</label>
                <span class="weui-form-preview__value">189****4566</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">商品</label>
                <span class="weui-form-preview__value">饮水机

u56立式</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">数量</label>
                <span class="weui-form-preview__value">x1</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">套餐情况</label>
                <span class="weui-form-preview__value">3年收费 剩余730天</span>
            </div>
        </div>
        <div class="weui-form-preview__ft view_form-button-group">
            <div class="button_sp_area">
                <a href="orderDetail.html" class="weui-btn weui-btn_mini weui-btn_default">详情</a>
                <a href="logistics.html" class="weui-btn weui-btn_mini weui-btn_default">查看物流</a>
            </div>
        </div>
    </div>
    <div class="weui-form-preview view-mb-20">
        <div class="view-form-preview-ex">
            <div class="weui-form-preview__item">
                <p class="weui-form-preview__value">订单时间：2017-12-12 12:12 </p>
                <label class="weui-form-preview__label text-warn">未发货</label>
            </div>
        </div>
        <div class="weui-form-preview__hd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">付款金额</label>
                <em class="weui-form-preview__value">¥3000.00</em>
            </div>
        </div>
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">用户</label>
                <span class="weui-form-preview__value">李菲菲</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">手机号</label>
                <span class="weui-form-preview__value">189****4566</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">商品</label>
                <span class="weui-form-preview__value">饮水机

u56立式</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">数量</label>
                <span class="weui-form-preview__value">x1</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">套餐情况</label>
                <span class="weui-form-preview__value">3年收费 剩余730天</span>
            </div>
        </div>
        <div class="weui-form-preview__ft view_form-button-group">
            <div class="button_sp_area">
                <a href="orderDetail.html" class="weui-btn weui-btn_mini weui-btn_default">详情</a>
            </div>
        </div>
    </div>
    <div class="weui-form-preview view-mb-20">
        <div class="view-form-preview-ex">
            <div class="weui-form-preview__item">
                <p class="weui-form-preview__value">订单时间：2017-12-12 12:12 </p>
                <label class="weui-form-preview__label text-error">待收货</label>
            </div>
        </div>
        <div class="weui-form-preview__hd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">付款金额</label>
                <em class="weui-form-preview__value">¥3000.00</em>
            </div>
        </div>
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">用户</label>
                <span class="weui-form-preview__value">李菲菲</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">手机号</label>
                <span class="weui-form-preview__value">189****4566</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">商品</label>
                <span class="weui-form-preview__value">饮水机

u56立式</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">数量</label>
                <span class="weui-form-preview__value">x1</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">套餐情况</label>
                <span class="weui-form-preview__value">3年收费 剩余730天</span>
            </div>
        </div>
        <div class="weui-form-preview__ft view_form-button-group">
            <div class="button_sp_area">
                <a href="orderDetail.html" class="weui-btn weui-btn_mini weui-btn_default">详情</a>
                <a href="logistics.html" class="weui-btn weui-btn_mini weui-btn_default">查看物流</a>
            </div>
        </div>
    </div>
</section>
<footer class="view_footer-fixed">
    <div class="weui-footer weui-footer_fixed-bottom">
        <div class="weui-btn-area">
            <a href="orderPlace.html" class="weui-btn weui-btn_primary">我要下单</a>
        </div>
    </div>
</footer>
</body>
</html>