<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>退款中 - 微信管理平台</title>

    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/lib/weui.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/css/jquery-weui.min.css">

    <link rel="stylesheet" href="../assets/css/custom.css">
</head>
<body class="view-bg-color view-fs-small">
<section class="view_body">
    <form id="J_form">
        <div class="weui-cells__title">净水器状况</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">净水器编号</label>
                </div>
                <div class="weui-cell__bd">
                    <p>1212112212212</p>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">剩余时间</label>
                </div>
                <div class="weui-cell__bd">
                    <p>1500天</p>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">TDS值</label>
                </div>
                <div class="weui-cell__bd">
                    <p>21212</p>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">工作</label>
                </div>
                <div class="weui-cell__bd">
                    <p>正常</p>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">时间</label>
                </div>
                <div class="weui-cell__bd">
                    <p>2012-12-12 12:12</p>
                </div>
            </div>
        </div>
        <div class="weui-cells__title">我的购买详情</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">机器ID</label>
                </div>
                <div class="weui-cell__bd">
                    <p>12132123</p>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">机器型号</label>
                </div>
                <div class="weui-cell__bd">
                    <p>SADAF</p>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">安装时间</label>
                </div>
                <div class="weui-cell__bd">
                    <p>2012-11-11</p>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">机主</label>
                </div>
                <div class="weui-cell__bd">
                    <p>刘德虎</p>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">安装地址</label>
                </div>
                <div class="weui-cell__bd">
                    <p>德什路睡觉吧12号</p>
                </div>
            </div>
        </div>
        <div class="weui-btn-area">
            <a href="refundDetail.html" class="weui-btn weui-btn_default">退款中</a>
        </div>
    </form>
</section>
<footer>
    <div class="weui-footer weui-footer_fixed-bottom">
        <p class="weui-footer__text weui-footer__links">客服电话 <a href="tel:400-0895558">400-0895558</a></p>
    </div>
</footer>
</body>
<script src="//cdn.lmjia.cn/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.lmjia.cn/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
<script src="//cdn.lmjia.cn/moment.js/2.18.1/moment.min.js"></script>
<script src="../assets/js/equipment.js"></script>
</html>