<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>客户退款 - 微信管理平台</title>

    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/lib/weui.min.css">
    <link rel="stylesheet" href="//cdn.lmjia.cn/jquery-weui/1.0.1/css/jquery-weui.min.css">

    <link rel="stylesheet" href="../assets/css/custom.css">
</head>
<body class="view-bg-color view-fs-small">
<section class="view_body view_pb-more">
    <div class="weui-cells__title">客户退款</div>
    <div class="weui-form-preview">
        <div class="weui-form-preview__hd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">退款金额</label>
                <em class="weui-form-preview__value">¥1000.00</em>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">返还佣金</label>
                <em class="weui-form-preview__value">¥77.99</em>
            </div>
        </div>
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">机器ID号</label>
                <span class="weui-form-preview__value">12121212</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">姓名</label>
                <span class="weui-form-preview__value">刘德华</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">手机号码</label>
                <span class="weui-form-preview__value">15899884457</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">服务选择</label>
                <span class="weui-form-preview__value">退货退款</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">退款原因</label>
                <span class="weui-form-preview__value">不想要了</span>
            </div>
        </div>
        <div class="weui-form-preview__ft">
            <a href="javascript:;" class="weui-form-preview__btn weui-form-preview__btn_default">同意退款</a>
            <a href="javascript:;" class="weui-form-preview__btn weui-form-preview__btn_primary">拒绝退款</a>
        </div>
    </div>
</section>
<footer>
    <div class="weui-footer weui-footer_fixed-bottom">
        <p class="weui-footer__text weui-footer__links">客服电话 <a href="tel:400-0895558">400-0895558</a></p>
    </div>
</footer>
</body>
</html>